
:root {
    --main-color: rgb(0, 0, 49);
    --text-color: #fff;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    background: linear-gradient(120deg, #313973, rgb(0, 0, 49), rgb(0,0,49), rgb(0,0,49)) fixed;
    margin: 0;
    background-image: url(./vid/ezgif.com-gif-maker\ \(1\).gif);
    top:0!important;
    -webkit-background-blend-mode: darken;
    -moz-background-blend-mode: darken;
    -ms-background-blend-mode: darken;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    text-shadow: 0 0 2px #fff;
    height: 100%;
    font-family: 'jost', serif;
    color: var(--text-color);
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(143, 143, 143);
  border-radius: 5px;
}
/*google translate Dropdown */

#google_translate_element select{
   background:#2F3771;
   color: var(--text-color);
   border: none !important;
   box-shadow: 0 0 5px #2F3771, inset 0 0 2px #2F3771;
   font-family: 'Jost', sans-serif;
   border-radius: 8px;
   text-shadow: 0 0 10px #B8A9CC;
   padding: 6px 8px;
   font-size: 1em;
   margin: 1em 0 0 1em!important;
   cursor: pointer;
}
/*google translate link | logo */
.goog-logo-link{
    display:none!important;
    margin: 0;
}
.goog-te-gadget{
   color:transparent!important;
   text-shadow: none;
   margin: 0;
}
   
/* google translate banner-frame */
   
.goog-te-banner-frame{
   display:none !important;
   margin: 0;
}
   
#goog-gt-tt, .goog-te-balloon-frame{
   display: none !important;
}
    
.goog-text-highlight { 
  background: none !important; box-shadow: none !important;
}
.wrapper {
    z-index: 100;
    bottom: 0;
    padding: 0;
    width: 85%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}
img {
    opacity: 0.8;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: var(--text-color);
    text-decoration: none;
}
h2 {
    color: #8C58DA;
    text-shadow: 0 0 8px #8C58DA;
    font-size: 2em;
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
.astro-text {
    color: #9edb78;
    font-style: normal;
    text-shadow: 0 0 5px #9edb78;
}
p {
    padding: 0;
    width: 100%;
    text-align: justify;
    text-shadow: none;
}
nav {
    display: flex;
    width: 85%;
    position: relative;
    top: 0;
    margin: 0 auto;
    z-index: 9999;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.nav-content ul {
    display: flex;
    list-style: none;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}
.nav-content li {
    margin-left: 3em;
    margin-right: 0;
    font-size: 1em;
    padding: 0;
    text-shadow: 0 0 20px #fff;
    color: #fff;
}
.astronaut-btn {
    color: #fff;
    border: none;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    border-radius: 8px;
    padding: 0.5em;
    transition: 200ms;
    margin: 0;
    font-size: 0.9em;
    font-family: 'Jost', sans-serif;
}
.astronaut-btn:hover {
    background-color: #492675;
    box-shadow: 0 0 25px #492675;
    text-decoration: none;
    color: #fff;
}
.header h1 {
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    color: #6FB344;
    text-shadow: 0 0 10px #6FB344;
    font-family: 'Rajdhani', serif;
}
.header {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-left: 1em;
}
#nav-nft-text {
    font-size: 0.7em;
    font-style: normal;
    color: #9edb78;
    margin-left: 0.3em;
    text-shadow: 0 0 10px #9edb78;
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
}
.nav-nft-text {
    font-size: 0.7em;
    max-width: 10%;
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
}
.main-img {
    min-width: 100%;
    max-height: 55em;
    display: none;
}
section {
    width: 85%;
    margin: 0em auto 1em auto;
    text-align: right;
    padding: 1em 2em;
    font-size: 1.2em;
}
.welcome {
    text-align: right;
    width: 90%;
    margin: 3em 2em;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.welcome-section {
    width: 65%;
    margin: auto 3em auto 1em;
}
.welcome h2 {
    text-transform: uppercase;
}
.welcome h2 i {
    font-style: normal;
    color: #9edb78;
    text-shadow: 0 0 10px #9edb78;
}
.opensea-img {
    border-radius: 10px;
    width: 45%;
    margin-bottom: 0;
    margin-left: 3em;
}
.sec-grid {
    display: flex;
    width: 80%;
    margin: 3em auto;
    padding: 0;
    align-items: baseline;
    justify-content: baseline;
}
.fair-distribution {
    margin: auto;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 0;
}
.fair-distribution h2 {
    color: #3B49B3;
    text-shadow: 0 0 10px #3B49B3;
    margin-bottom: 0;
}
.fair-distribution h3 {
    margin-top: 0.1em;
    text-transform: lowercase;
}
.fair-distribution p i {
    font-size: 0.8em;
    text-align: justify;
}
.opensea-sec {
    display: flex;
    width: 80%;
    padding: 0;
    margin: auto;
    flex-direction: column;
}
.opensea-link{
    margin: auto;
    width: 85%;
    height: 30%;
    font-size: 1em;
    padding: 0;
    align-items: center;
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* .nft-grid { 
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10px;
    padding: 0;
    margin: 0;
    border: 2px solid blue;
}*/
.nft-grid {
    margin: auto;
    padding: 0;
}
.nft-grid img { 
    padding: 0;
    margin: 0;
    width: 8em;
    border-radius: 10px;
}
.opensea-link p {
    font-size: 0.6em;
    width: 100%;
}
.opensea-btn {
    background-color: #3B49B3;
    color: #fff;
    box-shadow: 0 0 10px #3B49B3;
    width: 80%;
    text-align: center;
    margin: 2em;
    border-radius: 3px;
    padding: 0.4em;
    font-size: 0.5em;
    transition: 200ms;
    font-family: 'Jost', sans-serif;
}
.opensea-nft-text {
    font-size: 0.5em;
    font-style: normal;
}
.opensea-btn:hover {
    color: #fff;
    text-decoration: none;
}
.specs {
    margin: 3em auto;
    text-align: left;
}
.spec-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.spec-details p {
    width: 60%;
    font-size: 0.6em;
    text-align: center;
}
.astro-grid {
    display: flex;
    margin: 1.5em auto;
    padding: 0 2em;
    justify-content: space-between;
}
.astro-grid img {
    width: 5em;
}
.bathroom {
    text-align: left;
}
.roadmap li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    text-align: justify;
    margin: 1em auto 2em auto;
    list-style: none;
    padding: 0;
}
.roadmap h2 {
    text-align: center;
}
.roadmap p {
    text-align: justify;
    font-size: 0.8em;
    margin: 0;
    padding: 1em;
}
.percent {
    color: #6FB344;
    text-shadow: 0 0 10px #6FB344;
    margin-right: 2em;
    font-size: 1.5em;
    font-style: normal;
    width: 10%;
}
.tools {
    display: flex;
    height: 60vh;
    margin-bottom: 2em;
}
.tools-content {
    width: 70%;
    margin-right: 0.8em;
}
.tools-content h2 {
    color: #CCA354;
    text-align: left;
    text-shadow: 0 0 10px #CCA354;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    width: 50%;
    padding: 0 1em;
}
.realestate-link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 5em;
}
.realestate-link a {
    border: 1px solid #AB8617;
    padding: 1em;
    border-radius: 10px;
    text-transform: capitalize;
    width: 100%;
    font-size: 0.8em;
    text-shadow: none;
    transition: 1500ms;
}
.realestate-link a:hover {
    border: 1px solid #FFC107;
    background-color: #fff;
    color: #000;
}
.investment-link {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 4em;
}
.investment-link a {
    background-color: #CCA354;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    font-size: 0.8em;
    color: #000;
    text-shadow: none;
    transition: 500ms;
}
.investment-link a:hover {
    margin-bottom: 0.3em;
}
.team h2 {
    text-align: left;
}
.team li {
    margin-bottom: 1.5em;
}
.gold-text {
    color: #CCA354;
    text-shadow: 0 0 4px #CCA354;
    font-style: normal;
}
.creator {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.creator ul {
    list-style: none;
    padding: 0;
    margin: auto;
    text-align: justify;
    width: 50%;
}
.creator ul li {
    text-align: justify;
    margin: 3em 0;
}
.creator-art {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    padding: 0;
}
.creator-art img {
    margin: 0.4em;
    width: 9em;
    border-radius: 10px;
    padding: 0;
}
.logo img {
    width: 2em;
    height: 4em;
}
footer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
    padding: 1em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-top: 1px solid;
}
footer p {
    text-align: left;
    max-width: 15%;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
} 
footer li {
    margin-right: 2em;
    text-shadow: 0 0 3px #fff;
}
footer a:hover {
    text-decoration: underline;
}
.side-bar {
    display: none;
} 