
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .wrapperrr, .navigation-dots {
      display: none;
    }
    body {
      max-width: 100%;
      -webkit-background-repeat: no-repeat !important;
      -moz-background-repeat: no-repeat !important;
      -ms-background-repeat: no-repeat !important;
      background-repeat: no-repeat !important;
    }
    .nav-content {
      min-width: 50%;
      margin: 0 0 0 auto;
      flex-direction: row;
      align-items: baseline;
      justify-content: baseline;
    }
    .nav-content h1 {
      font-size: 1.2em;
    }
    .header {
      margin: 0 auto;
    }
    .header h1 {
      font-size: 1em;
      font-style: normal;
    }
    .nav-content ul {
      flex-direction: column;
      font-size: 0.6em;
      margin: 1em auto;
      padding: 0;
    }
    .nav-nft-text {
      font-size: 0.3em;
    }
    .nav-content li {
      margin: 1em;
    }
    .wrapper {
      min-width: 100%;
    }
    .welcome {
      flex-direction: column;
      padding: 0;
      width: 100%;
      margin: 0 auto;
    }
    .opensea-img {
      width: 80%;
      margin: 0 auto;
      height: 60%;
      display: none;
    }
    .welcome h2 {
      text-align: center;
    }
    .welcome-section {
      margin: 0 auto;
      width: 90%;
      padding: 1em;
    }
    .main-img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
    .astro-grid {
      margin: 0;
      padding: 0;
    }
    h2 {
      font-size: 0.8em;
    }
    p {
      font-size: 0.6em !important;
    }
    .sec-grid {
      flex-direction: column;
    }
    .nft-grid img {
      width: 4em;
    }
    .astro-grid img {
      width: 2em;
      margin-bottom: 0.3em;
      font-size: 0.6em;
    }
    .fair-distribution h3 {
      font-size: 0.7em;
    }
    .opensea-sec {
      flex-direction: row;
      margin: 0;
      width: 100%;
    }
    .opensea-nft-text  {
      font-size: 0.4em !important;
      margin-left: 0.4em;
    }
    .opensea-btn {
      font-size: 0.4em;
      margin: 0.4em auto;
    }
    .opensea-link {
      width: 100%;
      padding: 0.5em;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
    }
    .opensea-link p {
      margin: 0;
      text-align: center;
      font-size: 0.5em;
    }
    .nft-grid {
      margin: 0;
    }
    .spec-details p {
      margin: 0 0.2em;
      font-size: 0.4em !important;
      height: 40%;
      width: 100%;
      padding: 0;
    }
    .specs, .bathroom, .roadmap p, .tools {
      width: 100%;
      padding: 2em;
    }
    .specs {
      margin: 0em auto;
    }
    .roadmap {
      font-size: 0.9em;
      padding: 1em;
    }
    .roadmap p {
      font-size: 0.6em;
      margin: 0!important;
    }
    .main-p {
      padding: 0 !important;
    }
    .roadmap ul {
      padding: 0;
    }
    .percent {
      font-size: 1.2em;
      margin-right: 1em;
      margin-left: 0;
    }
    .tools {
      flex-direction: column;
      max-height: 50%;
      padding: 1.5em;
      margin-bottom: 1em !important;
    }
    .tools-content {
      margin: 0 auto !important;
      width: 100%;
      padding: 0 !important;
    }
    .links {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      align-items: start;
    }
    .investment-link, .realestate-link {
      font-size: 0.6em;
      margin: 0 auto;
    }
    .investment-link a, .realestate-link a {
      width: 70%;
      padding: 0.7em;
      margin-bottom: 1em;
    }
    .team {
      padding: 1em 0 0 0;
    }
    .creator ul {
      padding: 0;
      width: 100%;
    }
    .creator {
      flex-direction: row-reverse;
    }
    .creator ul li {
      font-size: 0.4em;
      text-align: right;
      width: 100%;
    }
    .creator-art {
      margin: auto 0;
    }
    .creator-art img {
      width: 3.8em;
      margin: 0.2em;
      border-radius: 5px;
    }
    .creator-art img:hover {
      transform: scale(1.2);
      transition: 2000ms;
    }
    .logo img {
      width: 2em;
      height: 3em;
      margin-bottom: 3em;
    }
    footer {
      flex-direction: column;
      justify-content: start;
      width: 50%;
      margin-left: 2em !important;
      right: auto;
      align-items: flex-start;
      border-top: 4px solid;
      
    }
    footer p {
      max-width: 100%;
      padding: 0;
      margin-bottom: 5em;
    }
    footer p a {
      font-size: 1.5em;
    }
    footer ul {
      flex-direction: row;
      padding: 0;
      margin: 0;
    }
    footer li {
      margin-bottom: 1em;
      margin-right: 1em;
      margin-left: 0em !important;
      font-size: 1em;
    }
    .mq-nav {
      display: none;
    }
    .back {
      margin-left: 0.5em;
    }
    .terms h2, .ownership h2 {
      font-size: 1.5em;
    }
    .ownership ul {
      padding: 0;
      margin: 0 auto;
      width: 95%;
    }
    .ownership li {
      margin: 0 auto;
      padding: 0;
      font-size: 0.6em;
    }
    .terms p, .ownership li {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      font-size: 0.6em;
    }
    .parent {
      display: none;
    }
    .index-header {
      width: 100%;
      margin-top: 0;
    }
    .index-navcont {
      width: 100% !important;
    }
    .index-navcont ul {
      flex-direction: row;
    }
    .index-navcont ul li {
      font-size: 1.4em;
    }
    .main-link {
      font-size: 0.6em;
    }
    .mq-img {
      display: block;
      max-width: 100%;
      max-height: 30%;
      border-radius: 10px;
    }














      /*side-bar start*/
  .side-bar {
    width: 30%;
    height: 50%;
    padding: 0.9em 0;
    background-color: transparent;
    position: relative;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0em;
    margin-left: auto;
    margin-right: 2em;
    z-index: 9999;
    overflow-x: none;
  }
  .logo-name-wrapper {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.9em;
    content: icon;
  }
  .logo-name h1 {
    font-size: 1.5em;
  }
  .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
  .logo-name__name {
    margin-left: 0rem;
    white-space: nowrap;
    color: white;
  }
  
  .features-list {
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .features-item {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: start;
    padding: 0.9em 0;
    width: 100%;
    margin-bottom: 0.9em;
    color: var(--grey-color);
    cursor: pointer;
    font-size: 0.6em;
    transition: 0.5s ease;
  }
  .features-item::before {
    transition: 0.5s ease;
    content: '';
    position: absolute;
    left: -2rem;
    height: 100%;
    border-left: 0px solid white;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
  }
  
  .features-item:hover {
    color: white;
    transition: 0.5s ease;
  }
  
  .features-item:hover::before {
    opacity: 1;
    visibility: unset;
  }
  
  .features-item-icon {
    font-size: 2rem;
    padding: 0;
  }
  
  .features-item-text {
    margin-left: -0.1em;
    transition: opacity 0.6s ease;
    opacity: 1;
  }
  
  .inbox-icon {
    position: relative;
  }
  
  .inbox-icon .status {
    position: absolute;
    top: 0;
    right: -0.5em;
    height: 9px;
    width: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s linear;
  }
  .side-bar.collapse .message:hover .tooltip:hover,
  .features-item:hover .tooltip:hover,
  .category-item:hover .tooltip:hover,
  .chat-new-btn:hover .tooltip:hover {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    opacity: 1;
    display: block;
  }
  
  .side-bar.collapse {
    width: 10%;
    height: 2em;
    margin: 0.3em 0.5em 0.3em auto;
    border-bottom: 1px solid #8654D3;
    border-top: 1px solid #8654D3;
    border-spacing: 1em 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1em 0 0 2em;
  }
  .side-bar.collapse:after {
    content: '';
    width: 400px;
    position: absolute;
    top: 0.8em;
    left: 1em;
    display: block;
    transform: translateX(-90%);
    border-top: 1px solid #8654D3;
  }
  .side-bar.collapse .tooltip {
    display: block;
  }
  
  .side-bar.collapse .logo-name,
  .side-bar.collapse .category-header,
  .side-bar.collapse .chat-header,
  .side-bar.collapse .chat-new-btn-text,
  .side-bar.collapse .features-item-text,
  .side-bar.collapse .inbox-number,
  .side-bar.collapse .category-item-text,
  .side-bar.collapse .category-item-number,
  .side-bar.collapse .message-text,
  .side-bar.collapse .chat-item-name,
  .side-bar.collapse .chat-item-number,
  .side-bar.collapse .chat-item-status {
    opacity: 0;
    pointer-events: none;
  }
  
  .side-bar.collapse .message-text {
    opacity: 0;
    pointer-events: none;
    transform: translateX(0);
  }
  .side-bar.collapse .message-icon {
    transform: translateX(0);
  }
  .side-bar.collapse .logo-name__button {
    right: 1em;
    top: 2em;
  }
  
  .side-bar.collapse .inbox-icon .status,
  .side-bar.collapse .chat-item-avatar-wrapper::before {
    opacity: 1;
  }
  /*side-bar end*/
}
  
























































  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    

    body {
      max-width: 100%;
      -webkit-background-repeat: no-repeat !important;
      -moz-background-repeat: no-repeat !important;
      -ms-background-repeat: no-repeat !important;
      background-repeat: no-repeat !important;
    }
    .nav-content {
      min-width: 50%;
      margin: 0 0 0 auto;
      flex-direction: row;
      align-items: baseline;
      justify-content: baseline;
    }
    .index-nav {
      flex-direction: row;
      width: 100%;
    }
    .index-nav .nav-content ul {
      flex-direction: row;
      justify-content: space-between;
    }
    .nav-content h2 {
      font-size: 1.2em;
    }
    .header {
      margin: 0 auto;
    }
    .header h1 {
      font-size: 1em;
      font-style: normal;
    }
    .nav-content ul {
      flex-direction: column;
      font-size: 0.8em;
      margin: 1em auto;
      padding: 0;
    }
    .nav-nft-text {
      font-size: 0.3em;
    }
    .nav-content li {
      margin: 1em;
    }
    .wrapper {
      min-width: 100%;
    }
    .welcome {
      flex-direction: column;
      padding: 0;
      width: 100%;
      margin: 0 auto;
    }
    .opensea-img {
      width: 80%;
      margin: 0 auto;
      height: 60%;
      display: none;
    }
    .welcome h2 {
      text-align: center;
    }
    .welcome-section {
      margin: 0 auto;
      width: 90%;
      padding: 1em;
    }
    .main-img {
      max-width: 100%;
      display: block;
      margin: 3em auto 0 auto;
    }
    .astro-grid {
      margin: 0;
      padding: 0;
    }
    h2 {
      font-size: 1em;
    }
    p {
      font-size: 0.8em !important;
    }
    .sec-grid {
      flex-direction: column;
    }
    .nft-grid img {
      width: 6em;
    }
    .astro-grid img {
      width: 4em;
      margin-bottom: 0.3em;
      font-size: 0.8em;
    }
    .fair-distribution h3 {
      font-size: 0.7em;
    }
    .opensea-sec {
      flex-direction: row;
      margin: 0;
      width: 100%;
    }
    .opensea-nft-text  {
      font-size: 0.4em !important;
      margin-left: 0.4em;
    }
    .opensea-btn {
      font-size: 0.6em;
      margin: 0 auto;
      padding: 1em;
    }
    .opensea-link {
      width: 100%;
      padding: 0.5em;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
    }
    .opensea-link p {
      margin: 0;
      text-align: center;
      font-size: 0.5em;
    }
    .nft-grid {
      margin: 0;
    }
    .spec-details p {
      margin: 0 0.2em;
      font-size: 0.6em !important;
      width: 100%;
      padding: 0;
    }
    .specs, .bathroom, .roadmap p, .tools {
      width: 100%;
      padding: 2em;
    }
    .specs {
      margin: 0em auto;
    }
    .roadmap {
      font-size: 0.9em;
      padding: 1em;
    }
    .roadmap p {
      font-size: 0.9em !important;
      margin: 0!important;
    }
    .main-p {
      padding: 0 !important;
    }
    .roadmap ul {
      padding: 0;
    }
    .percent {
      font-size: 1.2em;
      margin-right: 1em;
      margin-left: 0;
    }
    .tools {
      flex-direction: column;
      padding: 1.5em;
      margin-bottom: 1em !important;
    }
    .tools-content {
      margin: 0 auto !important;
      width: 100%;
      padding: 0 !important;
    }
    .links {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      align-items: start;
    }
    .investment-link, .realestate-link {
      font-size: 0.7em;
      margin: 0 auto;
    }
    .investment-link a, .realestate-link a {
      width: 70%;
      padding: 0.7em;
      margin-bottom: 1em;
    }
    .team {
      padding: 1em 0 1em 0;
    }
    .creator ul {
      padding: 0;
      width: 100%;
    }
    .creator {
      flex-direction: row-reverse;
    }
    .creator ul li {
      font-size: 0.5em;
      text-align: right;
      width: 75%;
    }
    .creator-art {
      margin: auto 0;
    }
    .creator-art img {
      width: 4em;
      margin: 0.4em;
      border-radius: 5px;
    }
    .creator-art img:hover {
      transform: scale(1.2);
      transition: 2000ms;
    }
    .logo img {
      width: 2em;
      height: 3em;
      margin-bottom: 3em;
    }
    footer {
      flex-direction: column;
      justify-content: start;
      width: 50%;
      margin-left: 2em !important;
      right: auto;
      align-items: flex-start;
      border-top: 4px solid;
      
    }
    footer p {
      max-width: 100%;
      padding: 0;
      margin-bottom: 5em;
    }
    footer p a {
      font-size: 1.5em;
    }
    footer ul {
      flex-direction: row;
    }
    footer li {
      margin-bottom: 1.2em;
      margin-right: 1em;
      font-size: 1em;
      margin-left: 0em !important;
    }
    .mq-nav {
      display: none;
    }
    .back {
      margin-left: 0.5em;
    }
    .terms h2, .ownership h2 {
      font-size: 1.7em;
    }
    .ownership ul {
      padding: 0;
      margin: 0 auto;
      width: 95%;
    }
    .ownership li {
      margin: 0 auto;
      padding: 0;
      font-size: 0.8em;
    }
    .terms p, .ownership li {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      font-size: 0.8em;
    }
    .parent {
      display: none;
    }
    .index-header {
      width: 100%;
      margin-top: 0;
    }
    .index-header p {
      font-size: 0.8em;
    }
    .index-navcont {
      width: 100% !important;
    }
    .index-navcont ul {
      flex-direction: row;
    }
    .index-navcont ul li {
      font-size: 1.5em;
    }
    .main-link {
      font-size: 0.8em;
    }
    .mq-img {
      display: block;
      max-width: 100%;
      max-height: 35%;
      border-radius: 10px;
    }
    .wrapperrr, .navigation-dots {
      display: none;
    }
















      /*side-bar start*/
  .side-bar {
    width: 30%;
    height: 50%;
    padding: 0.9em 0;
    background-color: transparent;
    position: relative;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.6em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: 2em;
    z-index: 9999;
    overflow-x: none;
  }
  .logo-name-wrapper {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.9em;
    content: icon;
  }
  .logo-name h1 {
    font-size: 1.7em;
  }
  .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
  .logo-name__name {
    margin-left: 0rem;
    white-space: nowrap;
    color: white;
  }
  
  .features-list {
    border-bottom: 1px solid #fff;
    list-style: none;
    padding: 0;
    margin: 0 0 1.5em 0;
  }
  
  .features-item {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: start;
    padding: 0.9em 0;
    width: 100%;
    margin-bottom: 0.9em;
    color: var(--grey-color);
    cursor: pointer;
    font-size: 0.8em;
    transition: 0.5s ease;
  }
  .features-item::before {
    transition: 0.5s ease;
    content: '';
    position: absolute;
    left: -2rem;
    height: 100%;
    border-left: 0px solid white;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
  }
  
  .features-item:hover {
    color: white;
    transition: 0.5s ease;
  }
  
  .features-item:hover::before {
    opacity: 1;
    visibility: unset;
  }
  
  .features-item-icon {
    font-size: 2rem;
    padding: 0;
  }
  
  .features-item-text {
    margin-left: -0.1em;
    transition: opacity 0.6s ease;
    opacity: 1;
  }
  
  .inbox-icon {
    position: relative;
  }
  
  .inbox-icon .status {
    position: absolute;
    top: 0;
    right: -0.5em;
    height: 9px;
    width: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s linear;
  }
  .side-bar.collapse .message:hover .tooltip:hover,
  .features-item:hover .tooltip:hover,
  .category-item:hover .tooltip:hover,
  .chat-new-btn:hover .tooltip:hover {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    opacity: 1;
    display: block;
  }
  
  .side-bar.collapse {
    width: 8%;
    height: 2em;
    margin: 0.5em 0.5em 0.3em auto;
    border-bottom: 1px solid #8654D3;
    border-top: 1px solid #8654D3;
    border-spacing: 1em 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1em 0 0 2em;
  }
  .side-bar.collapse:after {
    content: '';
    width: 400px;
    position: absolute;
    top: 0.8em;
    left: 1em;
    display: block;
    transform: translateX(-80%);
    border-top: 1px solid #8654D3;
  }
  .side-bar.collapse .tooltip {
    display: block;
  }
  
  .side-bar.collapse .logo-name,
  .side-bar.collapse .category-header,
  .side-bar.collapse .chat-header,
  .side-bar.collapse .chat-new-btn-text,
  .side-bar.collapse .features-item-text,
  .side-bar.collapse .inbox-number,
  .side-bar.collapse .category-item-text,
  .side-bar.collapse .category-item-number,
  .side-bar.collapse .message-text,
  .side-bar.collapse .chat-item-name,
  .side-bar.collapse .chat-item-number,
  .side-bar.collapse .chat-item-status {
    opacity: 0;
    pointer-events: none;
  }
  
  .side-bar.collapse .message-text {
    opacity: 0;
    pointer-events: none;
    transform: translateX(0);
  }
  .side-bar.collapse .message-icon {
    transform: translateX(0);
  }
  .side-bar.collapse .logo-name__button {
    right: 1em;
    top: 2em;
  }
  
  .side-bar.collapse .inbox-icon .status,
  .side-bar.collapse .chat-item-avatar-wrapper::before {
    opacity: 1;
  }
  /*side-bar end*/

    
    

    
}
  