
:root {
    --main-color: rgb(0, 0, 49);
    --text-color: #fff;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    background: linear-gradient(120deg, #313973, rgb(0, 0, 49), rgb(0,0,49), rgb(0,0,49)) fixed;
    margin: 0;
    background-image: url(./vid/ezgif.com-gif-maker\ \(1\).gif);
    top:0!important;
    -webkit-background-blend-mode: darken;
    -moz-background-blend-mode: darken;
    -ms-background-blend-mode: darken;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    overflow-x: hidden;
    min-width: 100vw;
    text-shadow: 0 0 2px #fff;
    min-height: 100vh;
    font-family: 'jost', serif;
    color: var(--text-color);
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(143, 143, 143);
  border-radius: 5px;
}
/*google translate Dropdown */

#google_translate_element select{
   background:#2F3771;
   color: var(--text-color);
   border: none !important;
   box-shadow: 0 0 5px #2F3771, inset 0 0 2px #2F3771;
   font-family: 'Jost', sans-serif;
   border-radius: 8px;
   text-shadow: 0 0 10px #B8A9CC;
   padding: 6px 8px;
   font-size: 1em;
   margin: 1em 0 0 1em!important;
   cursor: pointer;
}
/*google translate link | logo */
.goog-logo-link{
    display:none!important;
    margin: 0;
}
.goog-te-gadget{
   color:transparent!important;
   text-shadow: none;
   margin: 0;
}
   
/* google translate banner-frame */
   
.goog-te-banner-frame{
   display:none !important;
   margin: 0;
}
   
#goog-gt-tt, .goog-te-balloon-frame{
   display: none !important;
}
    
.goog-text-highlight { 
  background: none !important; box-shadow: none !important;
}
.wrapper {
    z-index: 100;
    bottom: 0;
    padding: 0;
    width: 85%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: var(--text-color);
    text-decoration: none;
}
h2 {
    color: #8C58DA;
    text-shadow: 0 0 8px #8C58DA;
    font-size: 3em;
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
p {
    padding: 0;
    font-size: 1.8em;
    width: 100%;
    text-align: justify;
    text-shadow: none;
}
.astro-text {
    color: #9edb78;
    font-style: normal;
    text-shadow: 0 0 5px #9edb78;
}
nav {
    display: flex;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 9999;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.nav-content ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
    justify-content: center;
    align-items: center;
}
.nav-content li {
    margin-left: 3em;
    margin-right: 1em;
    font-size: 1em;
    padding: 0;
    text-shadow: 0 0 20px #fff;
    color: #fff;
}
.astronaut-btn {
    color: #fff;
    border: none;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    border-radius: 8px;
    padding: 0.5em;
    transition: 200ms;
    margin: 0;
    font-size: 0.9em;
    font-family: 'Jost', sans-serif;
}
.astronaut-btn:hover {
    background-color: #492675;
    box-shadow: 0 0 25px #492675;
    text-decoration: none;
    color: #fff;
}
.header h1 {
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    color: #6FB344;
    text-shadow: 0 0 10px #6FB344;
    font-family: 'Rajdhani', serif;
}
.side-bar {
    display: none;
}
.header {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-left: 1em;
}
#nav-nft-text {
    font-size: 0.8em;
    font-style: normal;
    color: #9edb78;
    text-shadow: 0 0 10px #9edb78;
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
}
.nav-nft-text {
    font-size: 0.8em;
    max-width: 10%;
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
}
.terms h2 {
    display: flex;
    font-size: 2.5em;
    align-items: center;
}
.terms p {
    font-size: 1.5em;
}
.ownership h2 {
    font-size: 2.5em;
    margin-left: 1.5em;
}
.ownership li {
    font-size: 1.2em;
    line-height: 1.8em;
    margin-left: 0;
    list-style: number;
    text-shadow: none !important;
    text-align: justify;
}
.ownership li ul li {
    font-size: 1em;
    list-style: georgian;
}
footer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
    padding: 1em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-top: 1px solid;
}
footer p {
    text-align: left;
    max-width: 15%;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
} 
footer li {
    margin-left: 2em;
    text-shadow: 0 0 3px #fff;
}
.logo img {
    width: 2em;
    height: 4em;
}
.back {
    transition: 200ms;
}
.back a {
    font-size: 1em;
    margin-right: 1em;
    color: #6FB344;
    text-shadow: 0 0 10px #6FB344;
    transition: 1000ms;
}
.back a:hover {
    color: #8C58DA;
    text-shadow: 0 0 10px #8C58DA;
}