 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 319px) and (max-width: 479px) {
      nav h1 {
          font-size: 0.8em;
      }
      nav li, .dropdown {
          font-size: 0.6em;
          font-weight: bold;
          margin: 1em 1em 1em 1em;
      }
      .dropdown button {
          font-weight: bold;
      }
      .slide-image {
          min-width: 100%;
      }
      .stand-alone {
          display: none;
          visibility: hidden;
      }
      figure {
          width: 90%;
          margin-right: 2em;
          margin-left: 0.8em;
      }
      .figcaption {
          font-size: 0.8em;
      }
      .logo-container {
          font-size: 0.8em;
          margin: 0 auto;
      }
      footer {
          grid-template-columns:none; 
          grid-template-rows: repeat(5, 1fr);
      }
      .social, .company, .help {
          font-size: 0.7em;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .created {
          margin: 2em auto 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
      }
      .created a {
          margin: 0 auto;
      }
  }























   /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 480px) and (max-width: 767px) {
    
    nav h1 {
        font-size: 1em;
    }
    nav li, .dropdown {
        font-size: 0.8em;
        font-weight: bold;
        margin: 1em 1em 1em 1em;
    }
    .dropdown button {
        font-weight: bold;
    }
    .slide-image {
        min-width: 100%;
    }
    .stand-alone {
        display: none;
        visibility: hidden;
    }
    figure {
        width: 90%;
        margin-right: 2em;
        margin-left: 0.8em;
    }
    .figcaption {
        font-size: 0.8em;
    }
    .logo-container {
        font-size: 0.8em;
        margin: 0 auto;
    }
    footer {
        grid-template-columns:none; 
        grid-template-rows: repeat(5, 1fr);
    }
    .social, .company, .help {
        font-size: 0.7em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .created {
        margin: 2em auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .created a {
        margin: 0 auto;
    }

  }