
/*default version*/
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProLight.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProLight.otf') 
		format('opentype');
}
/* bold 800 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProBlack.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProBlack.otf') 
		format('opentype');
	font-weight: 800;
}
/* bold 600 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProMedium.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProMedium.otf') 
		format('opentype');
	font-weight: 600;
}
:root{
    --primary_color_1: #EE6C4D;
    --primary_color_2: #293241;
    --primary_color_3: #23282F;
    --primary_color_4: #E0E0E0;
    --primary_color_5: #DEF9FA;
    
    --hue: 185;
    --radius: 5.5;
    --size: 4;

    --primary_font_1: 'Avenir', sans-serif;
}
html {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: var(--primary_font_1);
}
a {
    text-decoration: none;
    color:  inherit;
    transition: ease 200ms;
}
a:hover {
    text-decoration: none;
    color: var(--primary_color_1);
}




nav {
    display: flex;
    padding: 1.5em 1em;
    gap: 3em;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F3F3F3;
    /* border: 2px solid brown; */
}
.nav_logo {
    /* border: 2px solid indigo; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo img {
    width: 100%;
}
.nav_content {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    font-family: var(--primary_font_1);
    font-weight: 600;
    font-size: max(0.6em, 1.2em);
    /* border: 2px solid black; */
}
.nav_login_btn {
    background-color: var(--primary_color_3);
    color: var(--primary_color_4);
    padding: 0.5em 1em;
    border-radius: 3px;
    transition: ease 200ms;
    cursor: pointer;
}
.nav_login_btn:hover {
    background-color: var(--primary_color_4);
    color: var(--primary_color_3);
    text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


 /*google translate Dropdown */
i {
    color: var(--primary_color_2);
}
#google_translate_element select{
    background:#f5f5f5;
    color:#000;
    border: none;
    border-radius:3px;
    padding: 6px;
    font-family: 'Varta', sans-serif;
    margin: 0!important;
} 
/*google translate link | logo */
.goog-logo-link{
      display:none!important;
}
.goog-te-gadget{
    color:transparent!important;
}
    
/* google translate banner-frame */
    
.goog-te-banner-frame{
    display:none !important;
}
    
    #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
   .goog-text-highlight { background: none !important; box-shadow: none !important;}
    

.nav_header {
    display: none;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
    justify-content: flex-end;
    max-width: 100%;
    top: 0;
    box-shadow: none;
    background-color: #F3F3F3;
    position: fixed;
    height: 60px!important;
    z-index: 999999999999999999999999;
}
#sidebarMenu {
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    display: none;
    overflow-y: scroll;
    bottom: 0;
    z-index: 999999999999999999999999999999999999999999999999;
    width: 70%;
    font-size: clamp(0.7em,4vw, 0.9em);
    margin-top: 60px;
    padding: 1em 0;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    background: #f5f5f5;
}
.sidebarMenuInner{
    margin:0 0 3.5em 0;
    padding:0;
    border-top: 1px solid #c8d0e2;
}
.sidebarMenuLogo {
    margin: 20px;
    /* border: 2px solid black; */
}
.sidebarMenuLogo img {
    width: 80%;
    /* border: 2px solid red; */
}
.sidebarMenuInner li{
    list-style: none;
    color: #000;
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #c8d0e2;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(182, 152, 152, 0.5);
}
.sidebarMenuInner li a{
    color: #000;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    /* border: 2px solid red; */
    margin-left: 0.4em;
    text-decoration: none;
}
.sidebarMenuInfo {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
    padding: 20px;
}
.sidebarMenuInfo .translate {
    display: flex;
    align-items: baseline;
    padding: 0 !important;
    gap: 0.5em;
}
.sidebarMenuInfo .server {
    display: flex;
    gap: 0.2em;
    font-size: 0.9em;
    align-items: center;
}
.sidebarMenuInfo .serv_cont {
    display: flex;
    gap: 0.3em;
    padding: 0;
    align-items: center;
    font-size: 0.8em;
}
.sidebarMenuInfo .fa-solid {
    margin-right: 0.3em;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99999999999999999999999999;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    display: none;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
@media (max-width: 1075px) {
    .nav_content {
        gap: 1.5em;
    }
    /* .nav_logo img {
        width: 80%;
    } */
}
@media (max-width: 950px) {
    .nav_header {
        display: flex;
    }
    .sidebarIconToggle {
        display: block;
    }
    #sidebarMenu {
        display: block;
    }
    .bg_screen {
        display: none;
    }
}
/* NAVBAR ENDS ////// */











.community_heading_box {
    position: relative;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.community_heading_wrapper {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/community_img.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5em 5em 2em 5em;
    margin-top: 0em;
    color: #fff;
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.7), inset 0 0 500px rgba(0, 0, 0, 0.7), inset 0 -200px 500px rgba(0, 0, 0, 0.7);
    // border: 2px solid brown;
}
.community_heading {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin: 10em 5em 3em 5em;
    // border: 2px solid blue;
}
.community_heading img {
    width: 95%;
}
.community_heading_img h1 {
    font-size: clamp(1.3em, 4vw, 3em);
    margin: 0;
    font-weight: 900 !important;
    /* border: 2px solid red; */
}
.community_heading_img p {
    line-height: 1.5em;
}
.community_heading a {
    background-color: var(--primary_color_1);
    padding: 0.3em 0.5em !important;
    margin: 0 !important;
    font-weight: 600;
}
.community_heading a:hover {
    color: #fff !important;
}
.community_heading_img {
    margin-top: 5em;
    /* // border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media (max-width:960px) {
    .community_heading {
        margin: 0;
    }
    .community_heading_img {
     margin-top: 0em;
    }
}
@media (max-width:860px) {
    .community_heading_wrapper{
        padding: 5em 1em 3em 1.5em;
   }
}
@media (max-width:760px) {
    .community_heading_img p {
        font-size: min(0.8em,1em);
        margin: 0;
    }
    .community_heading a {
        font-size: min(0.8em,1em);
        margin-top: 1em !important;
    }
}
@media (max-width:400px) {
    .community_heading_box {
        display: flex;
        /* border: 2px solid red; */
    }
    
    .community_heading_img p {
        font-size: min(0.8em,1em);
        margin: 0;
    }
    .community_heading a {
        font-size: min(0.6em,0.8em);
        margin-top: 1em !important;
    }
}
.community_content {
    width: 65%;
    margin: 2em auto 5em auto;
    text-align: justify;
    line-height: 1.8em;
}
.community_content h2 {
    font-size: min(3em,2.5em);
    font-weight: 800;
    line-height: 1.5em;
    color: #3A3D40;
    text-align: center;
}
@media (max-width:860px) {
    .community_content {
        width: 85%;
    }
    .community_content h2 {
        font-size: min(2.5em,2em);
    }
}
@media (max-width:530px) {
    .community_content {
        width: 90%;
        font-size: min(0.8em,1em);
    }
}
.comunesity_themes_wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 7em auto 5em auto;
    /* border: 2px solid red; */
    gap: 2.5em;
}
.comunesity_themes_heading {
    font-size: min(2em,1.5em);
    font-weight: 800;
    margin-left: 3em;
    color: var(--primary_color_2);
}
.comunesity_themes_grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}
.communesity_grid_wrapper {
    display: flex;
    gap: 3.5em;
    flex-direction: column;
    /* border: 3px solid green; */
}
.communesity_grid_box {
    /* border: 2px solid blue;  */
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.comunesity_grid_icon {
    background-color: var(--primary_color_2);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}
.comunesity_grid_icon img {
    width: 50%;
}
.comunesity_grid_content {
    text-align: center;
    margin: 1em auto;
}
.comunesity_grid_content p {
    font-size: min(0.8em,1em);
    width: 60%;
    margin: 0.5em auto;
}
.comunesity_grid_content p b{
    font-size: max(0.8em,1em) !important;
    font-weight: 800;
}
.communesity_grid_tab {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* border: 2px solid orange; */
}
.communesity_grid_tab p {
    font-size: min(0.8em,1em);
}
.communesity_grid_tab p b{
    font-size: max(0.8em,1em) !important;
}
@media(max-width:870px) {
    .comunesity_themes_grid {
        display: flex;
        flex-wrap: wrap;
        gap: 5em;
    }
    .comunesity_themes_heading {
        margin-left: 0;
        font-size: min(1.5em,1.2em);
        text-align: center;
    }
    .communesity_grid_wrapper {
        gap: 0.7em;
        border-bottom: 1px solid #555;
        padding-bottom: 3em;
    }
    .comunesity_themes_wrapper {
        margin: 3em auto 5em auto;
    }
    .communesity_grid_box {
        gap: 0.5em;
    }
}
.content {
    background-color: #E0FBFC;
    padding: 3em 0 1.5em 0;
}
.whoShouldEnrol {
    width: 70%;
    margin:  3em auto;
    /* border: 2px solid red; */
}
.whoShouldEnrol h3{
    font-size: min(1.5em,2em);
    font-weight: 800;
    color: #293241;
}
.content p {
    text-align: justify !important;
}
.content ul{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 25px;
}
.content li {
    font-size: min(0.8em,1em);
    font-weight: 500;
}
@media(max-width:800px) {
    .whoShouldEnrol{
        width: 90%;
    }
}
@media(max-width:400px) {
    .whoShouldEnrol h3 {
        font-size: min(1.5em,2em);
    }
}
.get_social {
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    background-color: #E0FBFC;
    gap: 1em;
}
.get_social_heading {
    font-size: min(2em,1.5em);
    font-weight: 800;
    background-color: #fff;
    /* border: 2px solid red; */
    width: 100%;
    padding: 0.5em 10em;
    color: rgba(41, 50, 65, 0.5);
}
.get_social_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    justify-content: center;
    padding: 0 15em;
    /* border: 2px solid red; */
}
.get_social_grid_box img {
    width: 80%;
}
@media(max-width:1000px) {
    .get_social_grid_box img {
        width: 100%;
    }
    .get_social_heading {
        padding: 0.2em 2.5em;
    }
    .get_social_grid_wrapper {
        padding: 0 5em;
    }
}
@media(max-width:500px) {
    .get_social_heading {
        padding: 0.2em 0.5em;
    }
    
    .get_social_grid_wrapper {
        padding: 0 1em;
    }
    .get_social_grid_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}


.community_socials {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
    align-items: center;
    gap: 0;
}
.community_socials_img {
    display: flex;
    /* border: 2px solid orange; */
    align-items: center;
    flex-direction: column;
    gap: 2.5em;
    margin-left: -7em;
    justify-content: center;
    padding: 0 !important;
}
.community_socials_img p {
    /* border: 2px solid white; */
    margin: -3em 0 0 0 !important;
    color: #000;
    font-weight: 700;
    /* display: none; */
    font-size: clamp(0.8em, 1.5vw, 1.4em);
}
.community_socials_img img {
    width: 60%;
    /* border: 2px solid orange; */
}
.community_socials_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 3em;
    margin-right: 2em;
    /* border: 2px solid red; */
}
.socials_box {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary_color_2);
}
.socials_box i {
    width: 60%;
    /* border: 2px solid red; */
    border-radius: 20px;
    font-size: clamp(1.2em, 2.5vw, 2em);
    color: #fff;
    padding: 0.5em 0.6em;
}
@media(max-width:1075px) {
    .socials_box img {
        width: 70%;
    }
}
@media(max-width:980px) {
    .socials_box img {
        width: 80%;
    }
}
@media(max-width:800px) {
    .community_socials_grid {
        gap: 2em;
        margin-left: -4em;
    }
}
@media(max-width:500px) {
    .community_socials {
        flex-direction: column;
        gap: 2em;
    }
    .community_socials_grid, .community_socials_img {
        margin-left: 0;
    }
    .community_socials_grid {
        margin: 0;
    }
}



/* FOOTER STARTS ////// */
footer {
    background-color: #293241;
    font-family: var(--primary_font_1);
    color: #E0FBFC;
    padding: 4em 3em;
}
.footer_wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_box1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    /* border: 2px solid red; */
    width: 30%;
}
.footer_rights {
    font-weight: 100;
}
.footer_logo {
    margin-bottom: 1em;
    /* border: 2px solid brown; */
    display: flex;
    padding: 0;
}
.footer_logo img {
    width: 90%;
}
.footer_content {
    line-height: 2em;
    font-size: min(0.8em, 1em);
}
.footer_social {
    display: flex;
    gap: 0.5em;
    color: #E0FBFC;
    margin: 0.8em 0 0.5em 0;
    font-size: 1em;
}
.footer_social i {
    color: #E0FBFC;
}
.footer_box2 {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: space-evenly;
}
.footer_contact_heading {
    font-weight: 700;
    font-size: 1.2em;
}
.footer_contact p {
    font-size: 0.7em;
}
.footer_explore {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.footer_explore_heading {
    font-weight: 800;
}
.footer_explore_links, .footer_rights {
    display: flex;
    gap: 1.5em;
    font-size: min(0.6em, 0.8em);
}
@media (max-width:700px) {
    footer {
        padding: 4em 1.5em;
    }
    .footer_wrapper {
        flex-direction: column;
        width: 100%;
        gap: 2em;
    }
    .footer_logo img {
        width: 60%;
    }
    .footer_box1, .footer_box2 {
        width: 100%;
    }
    .footer_explore_links, .footer_rights {
        display: flex;
        gap: 1.5em;
        font-size: min(0.8em, 1em);
    }
}













/* ///pulsating image style */


.orbit {
    position: absolute;
    right: -25em;
  width: 100%;
  margin-left: 7em;
  z-index: 2;
}

.orbit-icon {
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  font-size: 1.2em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
}

.orbit-wrap {
  list-style: none;
  font-size: 1.3em;
}
.orbit-wrap > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.orbit-wrap > li:hover ul {
  border-width: 2px;
  border-color: #fff;
}
.orbit-wrap > li:hover ~ li ul {
  border-color: rgba(255, 255, 255, 0.2);
}
.orbit-wrap > li:hover ~ li ul li {
  opacity: 0.4;
}

ul[class^=ring] {
  transition: all 300ms ease-in-out;
}
ul[class^=ring] li {
  transition: all 300ms ease-in-out;
}

.ring-0 {
  width: 10em;
  height: 10em;
  -webkit-animation: clockwiseRotate 35s linear infinite;
          animation: clockwiseRotate 35s linear infinite;
}
.ring-0 i {
  -webkit-animation: counterClockwiseRotate 35s linear infinite;
          animation: counterClockwiseRotate 35s linear infinite;
}

.ring-0 > *:nth-of-type(1) {
  transform: rotate(95deg) translate(7.5em) rotate(-95deg);
}

.ring-0 > *:nth-of-type(2) {
  transform: rotate(190deg) translate(7.5em) rotate(-190deg);
}

.ring-0 > *:nth-of-type(3) {
  transform: rotate(285deg) translate(7.5em) rotate(-285deg);
}

.ring-0 > *:nth-of-type(4) {
  transform: rotate(380deg) translate(7.5em) rotate(-380deg);
}

.ring-1 {
  width: 15em;
  height: 15em;
  -webkit-animation: clockwiseRotate 30s linear infinite;
          animation: clockwiseRotate 30s linear infinite;
}
.ring-1 i {
  -webkit-animation: counterClockwiseRotate 30s linear infinite;
          animation: counterClockwiseRotate 30s linear infinite;
}

.ring-1 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(5em) rotate(-126.6666666667deg);
}

.ring-1 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(5em) rotate(-253.3333333333deg);
}

.ring-1 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(5em) rotate(-380deg);
}


ul[class^=ring] {
  border: solid 1px #fff;
  position: relative;
  z-index: -9;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

ul[class^=ring] li {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin: -0.8em;
}

/*
  center;
*/
.orbit-center {
  /* z-index: 5; */
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background: hotpink;
  border-radius: 50%;
}
.orbit-center:hover .orbit-center__icon {
  transform: rotateZ(0deg);
}

.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

.orbit-wrap > li.orbit-center:hover ~ li > ul {
  width: 0;
  height: 0;
}
.orbit-wrap > li.orbit-center:hover ~ li > ul * {
  transform: translate(0, 0);
}

/* 
animations 
*/
@-webkit-keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* 
icons 
*/


.html5 {
  background: #fff url(../img/googlelogo.png) scroll center/cover;
  color: #e65100;
}

.css3 {
  background: #fff url(../img/instagram_icon.png) scroll center/cover;
  color: #2196f3;
  border: 6px sold white;
}

.git {
  background: #fff url(../img/whatsapp_icon.png) scroll center/cover;
  color: white;
}

.free-code-camp {
  background: #fff url(../img/slack_icon.png) scroll center/cover;
  color: white;
}

.podcast {
  background: #fff url(../img/facebook_icon.png) scroll center/cover;
  color: white;
}

.codepen {
  background: #fff url(../img/twitter.png) scroll center/cover;
  color: white;
}






.cirle_outer {
        /* border: 2px solid black; */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        position: absolute;
        z-index: -5;
        background-color: #434C5A;
        height: 200px;
    }
    .circle_inner {
        /* border: 2px solid red; */
        border-radius: 50%;
        width: 130px;
        display: flex;
        background-color: #424B57;
        justify-content: center;
        align-items: center;
        height: 130px;
    }
    .circle_inner2 {
        /* border: 2px solid black; */
        border-radius: 50%;
        background-color: #4A4E54;
        width: 50px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: flex-end;
        height: 50px;
    }
    .circle_inner2 img {
        width: 100%;
        position: relative;
        z-index: -3;
    }
    @media(max-width:1180px) {
        .orbit {
    position: absolute;
    right: -20em;
        }
    }
    @media(max-width:1000px) {
        .orbit {
            right: -18em;
        }
        .ring-0 {
            width: 7em;
            height: 7em;
        }
        .ring-1 {
            width: 11em;
            height: 11em;
        }
        .cirle_outer {
            width: 150px;
            height: 150px;
        }
        .circle_inner {
            width: 100px;
            height: 100px;
        }
        .ring-1 > *:nth-of-type(1) {
            transform: rotate(126.6666666667deg) translate(3.4em) rotate(-126.6666666667deg);
        }

        .ring-1 > *:nth-of-type(2) {
            transform: rotate(253.3333333333deg) translate(3.4em) rotate(-253.3333333333deg);
        }

        .ring-1 > *:nth-of-type(3) {
            transform: rotate(380deg) translate(3.4em) rotate(-380deg);
        }
        .ring-0 > *:nth-of-type(1) {
            transform: rotate(95deg) translate(5.5em) rotate(-95deg);
        }

        .ring-0 > *:nth-of-type(2) {
            transform: rotate(190deg) translate(5.5em) rotate(-190deg);
        }

        .ring-0 > *:nth-of-type(3) {
            transform: rotate(285deg) translate(5.5em) rotate(-285deg);
        }

        .ring-0 > *:nth-of-type(4) {
            transform: rotate(380deg) translate(5.5em) rotate(-380deg);
        }
    }
    @media(max-width:865px) {
        .orbit {
            display: none;
        }
    }