/*default version*/
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProLight.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProLight.otf') 
		format('opentype');
}
/* bold 800 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProBlack.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProBlack.otf') 
		format('opentype');
	font-weight: 800;
}
/* bold 600 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProMedium.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProMedium.otf') 
		format('opentype');
	font-weight: 600;
}
:root{
    --primary_color_1: #EE6C4D;
    --primary_color_2: #293241;
    --primary_color_3: #23282F;
    --primary_color_4: #E0E0E0;
    --primary_color_5: #DEF9FA;
    --primary_color_6: #293241;
    
    --hue: 185;
    --radius: 5.5;
    --size: 4;

    --primary_font_1: 'Avenir', sans-serif;
}
html {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_color_6);
    font-family: var(--primary_font_1);
}
a {
    text-decoration: none;
    color:  inherit;
    transition: ease 200ms;
}
a:hover {
    text-decoration: none;
}


.top_nav {
    width: 100%;
    display: flex;
    padding: 1em 3em;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
.top_nav img {
  width: clamp(90%, 5vw, 100%);
}



  

.reset_password_wrapper {
  background-color: #fff;
  /* // border: 2px solid blue; */
  width: clamp(90%,2vw,80%);
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 2em 2em 1em 2em;
  align-items: center;
  position: absolute;
  top: 30%;
  justify-content: center;
}
.reset_password_wrapper p b {
    font-size: clamp(1em, 2vw, 1.8em);
}
.reset_password_wrapper p {
    font-size: clamp(0.8em, 1.5vw, 1.4em);
    margin: 0;
    text-align: center;
}
.reset_password_wrapper form {
    margin: 1em 0;
    gap: 0.8em;
    /* border: 2px solid red; */
    display: flex;
    width: 60%;
    flex-direction: column;
}
label {
    font-size: clamp(0.8em, 1.5vw, 1.3em);
    font-family: var(--primary_font_1);
    font-weight: 600;
}
label b {
    color: red;
}
input {
    padding: 0.5em 0.6em;
    color: #3A3D40 !important;
    border: 1px solid rgba(41, 50, 65, 0.2);
    font-size: clamp(0.9em, 1.7vw, 1.2em);
    font-family: var(--primary_font_1);
}
input[type="number"] {
    letter-spacing:1em;
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.password_container {
    display: flex;
    gap: 0.8em;
    flex-direction: column;
}
.password_input_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(41, 50, 65, 0.2);
    border-radius: 3px;
    padding-right: 0.5em;
}
.password_input_box input{
    width: 100%;
    border: none;
}
/* TOGGLE SWITCH STARTS ////// */
.fa-eye, .fa-eye-slash {
    cursor: pointer;
    margin-right: 10px;
}
.submit_btn {
    display: flex;
    /* // border: 2px solid red; */
    background-color: var(--primary_color_2);
    color: #fff;
    cursor: pointer;
    font-weight: 400 !important;
    /* width: 70%; */
    border-radius: 5px;
    margin: 0.5em 0 0 0;
    align-self: center;
    font-size: clamp(0.8em, 2vw, 1em);
    font-weight: 600 !important;
    justify-content: center;
    padding: 0.6em 1.5em;
}
.submit_btn:hover {
    background-color: var(--primary_color_1);
    /* color: #000; */
}
.backBtn {
    font-weight: 700;
    margin-top: -1em;
    font-size: clamp(0,8em, 1.8vw, 1.3em);
}
.backBtn:hover {
    color: var(--primary_color_1);
}



@media (max-width:600px) {
    .reset_password_wrapper form {
        width: 100%;
    }
}




.tooltip {
    position: relative;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 70%;
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltiptext ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: clamp(0.8em, 1vw,1.2em);
  }
  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: rotateX(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  @media(max-width:800px) {
    .tooltiptext {
      right: 50%;
    }
  }
  @media(max-width:600px) {
    .tooltiptext {
      right: 20%;
    }
  }
  @media(max-width:350px) {
    .tooltiptext {
      right: -5%;
    }
  }