/*default version*/
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProLight.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProLight.otf') 
		format('opentype');
}
/* bold 800 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProBlack.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProBlack.otf') 
		format('opentype');
	font-weight: 800;
}
/* bold 600 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProMedium.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProMedium.otf') 
		format('opentype');
	font-weight: 600;
}
:root{
    --primary_color_1: #EE6C4D;
    --primary_color_2: #293241;
    --primary_color_3: #23282F;
    --primary_color_4: #E0E0E0;
    --primary_color_5: #DEF9FA;
    --primary_color_6: #293241;
    
    --hue: 185;
    --radius: 5.5;
    --size: 4;

    --primary_font_1: 'Avenir', sans-serif;
}
html {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--primary_color_6);
    font-family: var(--primary_font_1);
}
a {
    text-decoration: none;
    color:  inherit;
    transition: ease 200ms;
}
a:hover {
    text-decoration: none;
}


.top_nav {
    width: 100%;
    display: flex;
    padding: 1em 3em;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
.top_nav img {
  width: clamp(90%, 5vw, 100%);
}
.login_wrapper {
    width: 60%;
    /* // border: 2px solid red; */
    margin: 8em auto;
    display: flex;
    gap: 3px;
    flex-direction: column-reverse;
}
.swiper {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 750px;
    width: 100%;
    padding:0 0 5em 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
  }
  .signIn_slide {
    height: 600px !important;
  }
  .mySwiper2 .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    .signin_form, .signup_form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 80%;
        margin: 0 auto;
        /* // border: 3px solid blue; */
        justify-content: center;
        align-items: center;
    }  
    .signin_form input, .signup_form input {
        padding: 0.5em 0.6em;
        color: #3A3D40 !important;
        border: 1px solid rgba(41, 50, 65, 0.2);
        font-size: max(1em,1.2em);
        font-family: var(--primary_font_1);
    }
    input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  .signin_header, .signup_header {
    font-weight: 800;
    font-size: clamp(1.5em,4vw,3em) !important;
    margin: 1em 0;
    color: var(--primary_color_6);
    align-self: center;
  }
  .signin_input, .signup_input {
    /* // border: 3px solid red; */
    width: 100%;
    gap: 1.2em;
    display: flex;
    flex-direction: column;
  }
  .password_container {
    display: flex;
    gap: 0.8em;
    flex-direction: column;
}
.password_input_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(41, 50, 65, 0.2);
    border-radius: 3px;
    padding-right: 0.5em;
}
.password_input_box input{
    width: 100%;
    border: none;
}
/* TOGGLE SWITCH STARTS ////// */
.fa-eye, .fa-eye-slash {
    cursor: pointer;
    margin-right: 10px;
}
.or {
    font-weight: 400;
    margin: 0.5em 0 0 0;
    font-size: 1em;
}
.google_signin_btn, .google_signup_btn {
    display: flex;
    /* // border: 2px solid red; */
    background-color: #333333;
    color: #fff;
    cursor: pointer;
    font-weight: 400 !important;
    width: 70%;
    border-radius: 5px;
    align-items: center;
    font-size: min(0.8em,1em) !important;
    justify-content: center;
    padding: 0.3em 0.5em;
}
.google_signin_btn img, .google_signup_btn img {
    width: 10% !important;
}
.terms {
    text-align: center;
    font-size: min(0.8em, 1em);
}
.signin_btn, .signup_btn {
    background-color: var(--primary_color_1);
    width: 45%;
    color: #f2f2f2;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    padding: 1em 0.5em;
    font-size: min(1.5em,1.2em) !important;
    font-family: var(--primary_font_1);
    border: none;
}
  .mySwiper {
    box-sizing: border-box;
    padding: 10px 0;
    flex-direction: row-reverse !important;
    display: flex !important;
    /* // border: 2px solid red; */
    align-items: center;
  }

  .mySwiper .swiper-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary_color_6);
    opacity: 1;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    color: var(--primary_color_6);
    margin-right: 0 !important;
    background-color: #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  @media(max-width:800px) {
    .login_wrapper {
        width: 87%;
    }
  }
  @media(max-width:500px) {
    .login_wrapper {
        width: 92%;
    }
  }

  .signInLink_wrapper {
    display: flex;
    /* // border: 2px solid red; */
    width: 100%;
    padding: 1.5em 0;
    gap: 0.5em;
  }
  .signInLink_wrapper .swiper-slide {
    background-color: #fff;
    color: var(--primary_color_3);
    width: 100%;
    padding: 1.2em 0;
  }
  .signInLink_wrapper .swiper-slide:hover {
    background-color: #fff;
    transition: ease 200ms;
  }
  #non_active {
    background-color: var(--primary_color_6);
    color: #fff;
  }












  
/* THE POPUP STARTS ///////////////// */
.generic_popup_wrapper {
  display: none;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.5);
  /* // border: 2px solid red; */
  overflow-y: scroll;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close_btn {
  align-self: flex-end;
  cursor: pointer;
  margin: 0 1em 0 0;
  /* border: 2px solid indigo; */
  font-size: min(2em,3.5em);
}
.generic_popup {
  background-color: #fff;
  /* // border: 2px solid blue; */
  width: clamp(90%,2vw,80%);
  display: flex;
  flex-direction: column;
}
.generic_popup_content {
  display: flex;
  gap: 0.3em;
  padding-bottom: 1.5em;
  align-items: center;
  justify-content: center;
}
.generic_popup_content p {
  font-size: clamp(1em,2vw,1.8em) !important;
  font-weight: 600;
  white-space: nowrap;
}
.generic_popup_content i {
  font-size: clamp(1em,1vw,1.3em) !important;
  color: var(--primary_color_1);
}
/* THE POPUP ENDS ///////////////// */









.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 70%;
  display: flex;
  flex-direction: column;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltiptext ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: clamp(0.8em, 1vw,1.2em);
}
.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: rotateX(180deg);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media(max-width:800px) {
  .tooltiptext {
    right: 50%;
  }
}
@media(max-width:600px) {
  .tooltiptext {
    right: 20%;
  }
}
@media(max-width:350px) {
  .tooltiptext {
    right: -5%;
  }
}