
/*default version*/
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProLight.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProLight.otf') 
		format('opentype');
}
/* bold 800 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProBlack.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProBlack.otf') 
		format('opentype');
	font-weight: 800;
}
/* bold 600 version */
@font-face {
	font-family: 'Avenir';
	src: url('../font/AvenirLTProMedium.otf'); 
	src: 
		local('Avenir'),
		local('Avenir'),
		url('../font/AvenirLTProMedium.otf') 
		format('opentype');
	font-weight: 600;
}
:root{
    --primary_color_1: #EE6C4D;
    --primary_color_2: #293241;
    --primary_color_3: #23282F;
    --primary_color_4: #E0E0E0;
    --primary_color_5: #DEF9FA;
    
    --hue: 185;
    --radius: 5.5;
    --size: 4;

    --primary_font_1: 'Avenir', sans-serif;
}
html {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: var(--primary_font_1);
}
a {
    text-decoration: none;
    color:  inherit;
    transition: ease 200ms;
}
a:hover {
    text-decoration: none;
    color: var(--primary_color_1);
}




nav {
    display: flex;
    padding: 1.5em 1em;
    gap: 3em;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3A3D40;
    /* border: 2px solid brown; */
}
.nav_logo {
    /* border: 2px solid indigo; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo img {
    width: 100%;
}
.nav_content {
    display: flex;
    gap: 3em;
    color: var(--primary_color_4);
    justify-content: center;
    align-items: center;
    font-family: var(--primary_font_1);
    font-weight: 600;
    font-size: max(0.6em, 1.2em);
    /* border: 2px solid black; */
}
.nav_login_btn {
    background-color: var(--primary_color_1);
    color: var(--primary_color_3);
    padding: 0.5em 1em;
    border-radius: 3px;
    transition: ease 200ms;
    cursor: pointer;
}
.nav_login_btn:hover {
    background-color: var(--primary_color_3);
    color: var(--primary_color_4);
    text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


 /*google translate Dropdown */
i {
    color: var(--primary_color_4);
}
#google_translate_element select{
    background:#3A3D40;
    color:var(--primary_color_4);
    border: none;
    border-radius:3px;
    padding: 6px;
    font-family: 'Varta', sans-serif;
    margin: 0!important;
} 
/*google translate link | logo */
.goog-logo-link{
      display:none!important;
}
.goog-te-gadget{
    color:transparent!important;
}
    
/* google translate banner-frame */
    
.goog-te-banner-frame{
    display:none !important;
}
    
    #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
   .goog-text-highlight { background: none !important; box-shadow: none !important;}
    

.nav_header {
    display: none;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
    justify-content: flex-end;
    max-width: 100%;
    top: 0;
    box-shadow: none;
    background-color: #3A3D40;
    position: fixed;
    height: 60px!important;
    z-index: 999999999999999999999999;
}
#sidebarMenu {
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    display: none;
    overflow-y: scroll;
    bottom: 0;
    z-index: 999999999999999999999999999999999999999999999999;
    width: 70%;
    font-size: clamp(0.7em,4vw, 0.9em);
    margin-top: 60px;
    padding: 1em 0;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    background: #3A3D40;
}
.sidebarMenuInner{
    margin:0 0 3.5em 0;
    padding:0;
    border-top: 1px solid #c8d0e2;
}
.sidebarMenuLogo {
    margin: 20px;
    /* border: 2px solid black; */
}
.sidebarMenuLogo img {
    width: 80%;
    /* border: 2px solid red; */
}
.sidebarMenuInner li{
    list-style: none;
    color: var(--primary_color_4);
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #c8d0e2;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(182, 152, 152, 0.5);
}
.sidebarMenuInner li a{
    color: var(--primary_color_4);
    width: 100%;
    padding: 20px;
    cursor: pointer;
    /* border: 2px solid red; */
    margin-left: 0.4em;
    text-decoration: none;
}
.sidebarMenuInfo {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
    padding: 20px;
}
.sidebarMenuInfo .translate {
    display: flex;
    align-items: baseline;
    padding: 0 !important;
    gap: 0.5em;
}
.sidebarMenuInfo .server {
    display: flex;
    gap: 0.2em;
    font-size: 0.9em;
    align-items: center;
}
.sidebarMenuInfo .serv_cont {
    display: flex;
    gap: 0.3em;
    padding: 0;
    align-items: center;
    font-size: 0.8em;
}
.sidebarMenuInfo .fa-solid {
    margin-right: 0.3em;
}

.sidebar input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.sidebar input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99999999999999999999999999;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    display: none;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
@media (max-width: 1075px) {
    .nav_content {
        gap: 1.5em;
    }
    /* .nav_logo img {
        width: 80%;
    } */
}
@media (max-width: 950px) {
    .nav_header {
        display: flex;
    }
    .sidebarIconToggle {
        display: block;
    }
    #sidebarMenu {
        display: block;
    }
    .bg_screen {
        display: none;
    }
}
/* NAVBAR ENDS ////// */
















.scrum_payment_wrapper {
    margin: 10em auto;
    /* border:  2px solid red; */
}
.scrum_payment_heading p {
    font-weight: 800;
    font-size: min(2em,1.7em);
    text-align: center;
}
.scrum_payment_content p {
    font-size: min(1em,1.2em);
    text-align: center;
    width: 50%;
    margin: 2em auto;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}
.scrum_payment_method_wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
    padding: 0.7em 2em;
    gap: 1em;
    border-radius: 23px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.scrum_payment_method_wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.scrum_payment_method_heading p{
    font-weight: 700;
}
.scrum_card_method_box {
    background-color: #EFF0F7;
    padding: 0.5em 1em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.card_method_head {
    display: flex;
    justify-content: space-between;
}
.scrum_card_method_title {
    display: flex;
    align-items: center;
    gap: 0.4em;
}
.scrum_card_method_title p, .scrum_card_method_title i {
    font-size: 0.8em;
    color: #344054;
    font-weight: 700;
}
.scrum_card_method_img {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.payment_icon {
    padding: 0.6em 1.1em;
    background-color: #fff;
    border-radius: 5px;
}
.scrum_card_method_grid {
    display: grid;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    gap: 0.5em;
    padding: 0.5em 1em 1em 1em;
    background-color: #EFF0F7;
    grid-template-columns: 70% 30%;
}
.scrum_card_grid_box {
    /* border: 2px solid red; */
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.scrum_card_grid_box input {
    width: 100%;
    padding: 0.4em 0.5em;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: var(--primary_font_1);
}
.scrum_card_grid_box label {
    font-size: min(0.7em,0.9em);
    font-weight: 700;
    color: #344054;
}
.input_box {
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    padding: 0 0.5em;
    gap: 0.5em;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.input_box input {
    border: none !important;
}
/* Chrome, Safari, Edge, Opera */
.input_box input::-webkit-outer-spin-button,
.input_box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
.input_box input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.scrum_card_alt_method {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0 0 0;
}
.apple_pay label, .paypal label {
    display: grid;
    gap: 1em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;
    padding: 0 1em;
    grid-template-columns: 0.1fr 1.2fr 0.2fr;
}
.apple_pay label img, .paypal label img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.4em 1em;
    border-radius: 5px;
}
.policy {
    display: flex;
    align-items: center;
    gap: 0.6em;
    color: #828282;
    font-weight: 400;
}
.policy i {
    padding: 0.8em;
    color: #000;
    font-size: 0.6em;
    border-radius: 50%;
    background-color: #E0E0E0;
}
.next_btn_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.next_btn {
    background-color: var(--primary_color_1);
    color: #fff;
    font-weight: 700;
    font-size: max(1em,0.8em) !important;
    padding: 0.5em 2.5em;
    border-radius: 8px;
}
.next_btn:hover {
    background-color: var(--primary_color_3);
    color: #fff;
    text-decoration: none !important;
}
@media (max-width:800px) {
    .scrum_payment_method_wrapper {
        width: 90%;
    }
    .scrum_payment_wrapper {
        margin: 5em auto;
    }
    .apple_pay label, .paypal label, .policy {
        font-size: min(0.7em,0.9em);
    }

}
@media (max-width:600px) {
    .scrum_card_method_grid {
        display: flex;
        flex-direction: column;
    }
    .scrum_payment_heading {
        font-size: min(0.8em,1.5em);
    }
    .scrum_payment_content {
        font-size: max(0.6em,0.7em);
    }
    .scrum_payment_content p {
        width: 80%;
    }
}
@media (max-width:500px) {
    .card_method_head {
        flex-direction: column;
    }
    .scrum_card_method_img {
        justify-content: space-between;
    }.next_btn {
        padding: 0.4em 1.2em;
        font-size: min(1em,0.75em) !important;
    }
}
@media (max-width:330px) {
    .scrum_card_method_img img {
        width: 30%;
    }
}













/* FOOTER STARTS ////// */
footer {
    background-color: #293241;
    font-family: var(--primary_font_1);
    color: #E0FBFC;
    padding: 4em 3em;
}
.footer_wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_box1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    /* border: 2px solid red; */
    width: 30%;
}
.footer_rights {
    font-weight: 100;
}
.footer_logo {
    margin-bottom: 1em;
    /* border: 2px solid brown; */
    display: flex;
    padding: 0;
}
.footer_logo img {
    width: 90%;
}
.footer_content {
    line-height: 2em;
    font-size: min(0.8em, 1em);
}
.footer_social {
    display: flex;
    gap: 0.5em;
    color: #E0FBFC;
    margin: 0.8em 0 0.5em 0;
    font-size: 1em;
}
.footer_social i {
    color: #E0FBFC;
}
.footer_box2 {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: space-evenly;
}
.footer_contact_heading {
    font-weight: 700;
    font-size: 1.2em;
}
.footer_contact p {
    font-size: 0.7em;
}
.footer_explore {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.footer_explore_heading {
    font-weight: 800;
}
.footer_explore_links, .footer_rights {
    display: flex;
    gap: 1.5em;
    font-size: min(0.6em, 0.8em);
}
@media (max-width:700px) {
    footer {
        padding: 4em 1.5em;
    }
    .footer_wrapper {
        flex-direction: column;
        width: 100%;
        gap: 2em;
    }
    .footer_logo img {
        width: 60%;
    }
    .footer_box1, .footer_box2 {
        width: 100%;
    }
    .footer_explore_links, .footer_rights {
        display: flex;
        gap: 1.5em;
        font-size: min(0.8em, 1em);
    }
}