


  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .service-grid div a {
        width: 6.5em;
    }
    
}









  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    body {
        background: #fff url(../Adumefesite/img/Whatisthisdesigncalled.jpg) center/cover no-repeat fixed;
        }
    .adumefe-logo img {
        width: 40%;
        height: 20%;
        text-align: center;
    }
    #myVideo {
        min-width: 100vw;
        max-height: 100vh;
    }
    #myVideo2 {
        position: absolute;
        right: 0;
        bottom: 0;
        visibility: visible;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 0;
    }
    .get-started p {
        bottom: 2.5em;
        font-size: 1.5em;
    }
    nav header {
        margin-left: 1em;
    }
    nav h1 a {
        font-size: 0.8em;
    }
    nav ul li {
        font-size: 0.6em;
    }
    .services {
        height: 100vh;
        padding-top: 0.5em;
    }
    .welcome h2 {
        font-size: 1.2em;
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }
    .welcome p {
        font-size: 0.9em;
    }
    .service-grid {
        font-size: 0.6em;
        height: 80%;
        margin: 0 auto;
    }
    .service-grid div {
        height: 3em;
        width: 60%;
        margin: 0 auto;
    }
    .service-grid div a {
        height: 2em;
        border-radius: 8px;
        width: 2em;
        gap: 0.2em;
        padding: 4em 3em;
    }
    .service-grid div a:hover {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .service-grid div:hover {
        transform: scale(1);
    }
    .popup {
        width: 60%;
        height: 60%;
    }
    .popup h2 {
        font-size: 0.8em;
        margin-top: 1em;
    }
    .popup p {
        font-size: 0.6em;
        width: 100%;
    }
    .popup button {
        font-size: 1em;
        padding: 0;
        width: 1.5em;
        margin:  0 0 20px auto;
        text-align: center;
    }
    .popup-form {
        width: 100%;
        font-size: 0.8em;
        margin-top: 2em;
    }
    .popup i {
        font-size: 0.8em;
    }
    .popup-form button {
        font-size: 0.8em;
        width: 45%;
        height: 2em;
        margin: 0 auto;
    }
    .something-else {
        margin-top: 0.2em;
        font-size: 0.8em;
    }
    .popup-form input:not([type="checkbox"]) {
        margin-bottom: 0.8em;
    }
    .about-popup {
        font-size: 0.6em;
        line-height: 2em;
    }
    .about-popup i {
        font-size: 2em;
    }
    .giveaway {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .text {
        font-size: 1em;
        text-align: left;
        left: 0;
        margin-left: 0.5em;
    }
    .giveaway img {
        width: 100%;
        height: 30%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    footer {
        height: 10em;
        border-bottom: none;
    }
    footer {
        height: 10em;
        border-bottom: none;
    }
    .contact {
        width: 60%;
        margin-left: 1em;
    }
    .contact ul {
        padding-left: 0em;
        margin-left: 0em;
    }
    .contact ul li {
        padding-left: 0em;
        margin-left: 1em;
    }
    .contact ul li a {
        font-size: 3em;
    }
    

}




























/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    body {
    background: #fff url(../Adumefesite/img/Whatisthisdesigncalled.jpg) center/cover no-repeat fixed;
    }
    .adumefe-logo img {
        width: 30%;
        height: 20%;
        text-align: center;
    }
    #myVideo {
        min-width: 100vw;
        max-height: 100vh;
    }
    #myVideo2 {
        position: absolute;
        right: 0;
        bottom: 0;
        visibility: visible;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 0;
    }
    .get-started p {
        bottom: 2.5em;
        font-size: 1.5em;
    }
    nav header {
        margin-left: 1em;
    }
    nav h1 a {
        font-size: 0.8em;
    }
    nav ul li {
        font-size: 0.6em;
    }
    .services {
        height: 100vh;
        padding-top: 0.5em;
    }
    .welcome h2 {
        font-size: 1.2em;
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }
    .welcome p {
        font-size: 0.9em;
        width: 70%;
    }
    .service-grid {
        font-size: 0.6em;
        height: 80%;
        margin: 0 auto;
    }
    .service-grid div {
        height: 3em;
        width: 60%;
        margin: 0 auto;
    }
    .service-grid div a:hover {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .service-grid div a {
        height: 2em;
        border-radius: 8px;
        width: 2em;
        gap: 0.2em;
        padding: 4em 3em;
    }
    .service-grid div:hover {
        transform: scale(1);
    }
    .popup {
        width: 60%;
        height: 60%;
    }
    .popup i {
        font-size: 1em;
    }
    .popup h2 {
        font-size: 1em;
        margin-top: 1.5em;
    }
    .popup p {
        font-size: 0.6em;
        width: 100%;
    }
    .popup button {
        font-size: 1em;
        padding: 0;
        width: 1.5em;
        margin:  0 0 20px auto;
        text-align: center;
    }
    .popup-form {
        width: 100%;
        font-size: 0.8em;
        margin-top: 2em;
    }
    .popup-form button {
        font-size: 0.8em;
        width: 30%;
        height: 2em;
        margin: 0 auto;
    }
    .something-else {
        margin-top: 0.5em;
        font-size: 1em;
    }
    .popup-form input:not([type="checkbox"]) {
        margin-bottom: 1em;
    }
    .about-popup {
        font-size: 0.6em;
        line-height: 2em;
    }
    .about-popup i {
        font-size: 2em;
    }
    footer {
        height: 10em;
        border-bottom: none;
    }
    .contact {
        margin-left: 1em;
    }
    .contact ul li a {
        font-size: 4em;
    }
    
}
  
  