
















  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 319px) and (max-width: 479px) { 
    
    nav a {
        font-size: 0.8em;
    }
    nav ul {
        margin: 0 9em 0 0em;
    }
    nav li {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 0.7em;
    }
    nav h2 {
        font-size: 0.6em;
        margin: 0.5em;
        width: 20%;
        font-weight: 100;
    }
    nav {
        width: 100%;
        margin: 0;
    }
    header {
        margin-top: -5em;
        padding: 0;
    }
    .relate {
        max-width: 90%;
        min-height: 100vh;
    }
    .relate h1 {
        font-size: 1.5em;
        width: 100%;
        margin-bottom: 0.2em;
    }
    .relate p {
        font-size: 0.8em;
        width: 70%;
    }
    .relate form input, .ending input {
        width: 50%;
        font-size: 0.6em;
        height: 4em;
    } 
    .relate form button, .ending button {
        width: 20%;
        height: 4em;
        font-size: 0.6em;
    }
    .categories h2 {
        font-size: 1em;
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
    .categories {
        max-width: 60%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .center-p {
        font-size: 0.6em;
        text-align: center;
        max-width: 90%;
    }
    .categories a {
        padding: 4em;
    }
    .pimg2, .pimg3, .pimg4 {
        height: 10em;
        font-size: 0.8em;
        width: 100%;
    }
    .flex {
        width: 100%;
    }
    .promo h2 {
        font-size: 1em;
        max-width: 65%;
        margin-top: -10em;
    }
    .promo {
        min-height: 40%;
        height: 40vh;
        min-width: 100%;
        padding: auto 3em;
        justify-content: center;
        align-items: center;
        background-attachment: scroll;
    }
    .promo p {
        font-size: 0.6em;
        max-width: 50%;
    }
    .promo a {
        margin-left: 10em;
        padding-left: 10em;
        width: 100%;
        display: block;
    }
    .featured h2 {
        font-size: 1em;
        max-width: 100%;
        text-align: center;
        margin: 1em auto 0 auto;
    }
    .featured p {
        font-size: 0.8em;
        max-width: 80%;
        margin: 1em auto;
        text-align: center;
    }
    .first, .second, .third, .fourth {
        min-width: 100%;
        padding: 0;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first a, .second a, .third a, .fourth a {
        padding: 25em 1em 1em 1em;
        font-size: 0.6em;
        width: 70%;
    }
    .register h3{
        font-size: 1em;
    }
    .register input {
        width: 80%;
    }
    label {
        font-size: 0.8em;
    }
    .ending {
        margin-bottom: 1em;
    }
    input[type="checkbox"], label[for="check"] {
        display: none;
    }
    .register button {
        width: 40%;
    }
    .footer-col {
        font-size: 1.2em;
        max-width: 80%;
        padding: 0;
        margin: 0 auto;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }
    .footer-col li {
        margin-bottom: 0.5em;
    }
    .footer-col ul {
        margin: 0;
        text-align: center;
        margin-bottom: 0.8em;
        margin-top: 1em;
    }
    footer h3 {
        font-size: 1em;
        margin: 1em 0 0 3em;
        text-align: center;
    }
    footer {
        min-width: 100%;
        bottom: 0;
    }
    .created {
        margin-left: 2.5em;
    }
    .another-grid {
        max-width: 100%;
        margin: 0;
        display: inline-grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
  
  }





















  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 480px) and (max-width: 767px) { 
    
    nav a {
        font-size: 0.8em;
    }
    nav ul {
        margin: 0 4em 0 0em;
    }
    nav li {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 0.8em;
    }
    nav h2 {
        font-size: 0.6em;
        margin: 0.5em;
        font-weight: 100;
    }
    nav {
        width: 100%;
        margin: 0;
    }
    header {
        margin-top: -5em;
        padding: 0;
    }
    .relate {
        max-width: 90%;
        min-height: 100vh;
    }
    .relate h1 {
        font-size: 1.5em;
        width: 100%;
        margin-bottom: 0.2em;
    }
    .relate p {
        font-size: 0.8em;
        width: 70%;
    }
    .relate form input, .ending input {
        width: 50%;
        font-size: 0.6em;
        height: 4em;
    } 
    .relate form button, .ending button {
        width: 20%;
        height: 4em;
        font-size: 0.6em;
    }
    .categories h2 {
        font-size: 1em;
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
    .categories {
        max-width: 60%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .center-p {
        font-size: 0.6em;
        text-align: center;
        max-width: 90%;
    }
    .categories a {
        padding: 4em;
    }
    .pimg2, .pimg3, .pimg4 {
        height: 10em;
        font-size: 0.8em;
        width: 100%;
    }
    .flex {
        width: 100%;
    }
    .promo h2 {
        font-size: 1em;
        max-width: 65%;
        margin-top: -10em;
    }
    .promo {
        min-height: 40%;
        height: 40vh;
        min-width: 100%;
        padding: auto 3em;
        justify-content: center;
        align-items: center;
        background-attachment: scroll;
    }
    .promo p {
        font-size: 0.6em;
        max-width: 50%;
    }
    .promo a {
        margin-left: 10em;
        padding-left: 10em;
        width: 100%;
        display: block;
    }
    .featured h2 {
        font-size: 1em;
        max-width: 100%;
        text-align: center;
        margin: 1em auto 0 auto;
    }
    .featured p {
        font-size: 0.8em;
        max-width: 80%;
        margin: 1em auto;
        text-align: center;
    }
    .first, .second, .third, .fourth {
        min-width: 100%;
        padding: 0;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first a, .second a, .third a, .fourth a {
        padding: 25em 1em 1em 1em;
        font-size: 0.6em;
        width: 70%;
    }
    .register h3{
        font-size: 1em;
    }
    .register input {
        width: 80%;
    }
    label {
        font-size: 0.8em;
    }
    .ending {
        margin-bottom: 1em;
    }
    input[type="checkbox"], label[for="check"] {
        display: none;
    }
    .register button {
        width: 40%;
    }
    .footer-col {
        font-size: 1.2em;
        max-width: 80%;
        padding: 0;
        margin: 0 auto;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }
    .footer-col li {
        margin-bottom: 0.5em;
    }
    .footer-col ul {
        margin: 0;
        text-align: center;
        margin-bottom: 2em;
        margin-top: 1em;
    }
    footer h3 {
        font-size: 1em;
        margin: 1em 0 0 3em;
        text-align: center;
    }
    footer {
        min-width: 100%;
        bottom: 0;
    }
    .created {
        margin-left: 8em;
    }
    .another-grid {
        max-width: 100%;
        margin: 0;
        display: inline-grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
  
  }