





















  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 480px) and (max-width: 767px) {
    
    h1 {
      font-size: 1.2em;
  }
  body {
      min-width: 100%;
  }
  p {
      font-size: 1em;
  }
  .slide-image {
      min-width: 100vw;
  }
  .middle {
    font-size: 1.2em;
  }
  .middle h1 {
    font-size: 1.4em;
    line-height: 1.4em;
  } 
  .middle p {
    line-height: 2.2em;
  }
  .buttons, .about button, .grid-investment button, .grid-mining button, .join-us button {
    width: 10.2em;
  }
  .prev-btn, .next-btn {
    padding-top: 25.2em;
    font-size: 1.4em;
  }
  .grid-mining, .grid-investment {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }
  .grid-why {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;
  }
  .grid-how {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }
  .footer-col {
    text-align: center;
    margin: 0 auto;
    grid-gap: 0px;
  }
  .footer-col h6 {
    font-size: 1em;
  }
  .footer-col a {
    font-size: 0.8em;
  }
  .contact {
    margin-top: 2.2em;
  }
  footer {
    min-width: 30%;
  }
  #nav {
    display: none;
  }
  .create i, .deposit i, .withdraw i {
    font-size: 1.7em;
  }
  .create p, .deposit p, .withdraw p {
    font-size: 0.8em;
    width: 70%;
  }
  .create h4, .deposit i, .withdraw h4 {
    font-size: 1.2em;
  }
  .safe i, .customer i, .registered i, .professional i {
    font-size: 1.7em;
  }
  .safe h4, .customer h4, .registered h4, .professional h4 {
    font-size: 1.2em;
  }
  .safe p, .customer p, .registered p, .professional p {
    font-size: 0.8em;
    width: 70%;
  }
  .service h2 {
    font-size: 1.2em;
  }
  .service p {
    font-size: 1em;
    text-align: center;
  }
  .grid {
    max-height: 30%;
  }
  .content-width {
    max-height: 30%;
  }
  .about {
    max-height: 90%;
    width: 100%;
  }
  .image-display {
    max-height: 50%;
  }
  .about h2 {
    font-size: 1.2em;
  }
  .about p {
    font-size: 1em;
    max-height: 40%;
    overflow: auto;
  }
  .square img, .round img {
    width: 80%;
    height: 20%;
  }
  .square, .round {
    margin: 5em auto;
  }
  .join-us p {
    text-align: center;
    font-size: 1em;
    width: 80%;
  }
  .join-us button{
    font-size: 0.8em;
  }
  section h3 {
    font-size: 1.7em;
  }
  figure {
    max-width: 100%;
    margin: 0;
  }
  .created {
    width: 100%;
    margin-bottom: 1.2em;
    font-size: 1.2em;
  }
}



















  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 319px) and (max-width: 479px) {
      h1 {
          font-size: 1em;
      }
      body {
          min-width: 100%;
      }
      p {
          font-size: 0.8em;
      }
      .slide-image {
          min-width: 100vw;
      }
      .middle {
        font-size: 1em;
      }
      .middle h1 {
        font-size: 1.2em;
        line-height: 1.2em;
      } 
      .middle p {
        line-height: 2em;
      }
      .buttons, .about button, .grid-investment button, .grid-mining button, .join-us button {
        width: 10em;
      }
      .prev-btn, .next-btn {
        padding-top: 25em;
        font-size: 1.2em;
      }
      .grid-mining, .grid-investment {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
      }
      .grid-why {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
      }
      .grid-how {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
      }
      .footer-col {
        text-align: center;
        margin: 0;
        grid-gap: 0px;
        width: 50%;
      }
      .footer-col h6 {
        font-size: 0.8em;
      }
      .footer-col a {
        font-size: 0.6em;
      }
      .contact {
        margin-top: 2em;
      }
      footer {
        min-width: 30%;
      }
      #nav {
        display: none;
      }
      .create i, .deposit i, .withdraw i {
        font-size: 1.5em;
      }
      .create p, .deposit p, .withdraw p {
        font-size: 0.6em;
        width: 70%;
      }
      .create h4, .deposit i, .withdraw h4 {
        font-size: 1em;
      }
      .safe i, .customer i, .registered i, .professional i {
        font-size: 1.5em;
      }
      .safe h4, .customer h4, .registered h4, .professional h4 {
        font-size: 1em;
      }
      .safe p, .customer p, .registered p, .professional p {
        font-size: 0.6em;
        width: 70%;
      }
      .service h2 {
        font-size: 1em;
      }
      .service p {
        font-size: 0.8em;
        text-align: center;
      }
      .grid {
        max-height: 30%;
      }
      .content-width {
        max-height: 30%;
      }
      .about {
        max-height: 90%;
        width: 100%;
      }
      .image-display {
        max-height: 50%;
      }
      .about h2 {
        font-size: 1em;
      }
      .about p {
        font-size: 0.8em;
        max-height: 40%;
        overflow: auto;
      }
      .square img, .round img {
        width: 80%;
        height: 20%;
      }
      .square, .round {
        margin: 5em auto;
      }
      .join-us p {
        text-align: center;
        font-size: 0.6em;
        width: 80%;
      }
      .join-us button{
        font-size: 0.6em;
      }
      section h3 {
        font-size: 1.5em;
      }
      figure {
        max-width: 100%;
        margin: 0;
      }
      .created {
        width: 100%;
        margin-bottom: 1em;
        font-size: 1em;
      }
    }