 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 319px) and (max-width: 479px) {
    .showcase-top img {
        width: 5em;
    }
    .showcase-top a {
        transform: translate(-20%, -50%);
    }
    .btn {
        font-size: 0.8em;
    }
    .showcase-content h1{
        font-size: 1em;
        width: 80%;
        margin: 0;
    }
    .showcase-content h3 {
        font-size: 0.8em;
        width: 90%;
    }
    .showcase-content p {
        font-size: 0.6em;
        width: 70%;
    }
    .showcase-content {
        margin: 18em 0;
    }
    .input {
        margin-left: 0.3em;
        margin-top: 1em;
    }
    .input input {
        width: 100%;
        height: 4em;
        font-size: 0.5em;
    }
    .input button {
        width: 100%;
        font-size: 0.4em;
        height: 5em;
        padding: 0;
    }
    .card-0, .card-1, .card-2, .card-3 {
        grid-gap: 4em;
    }
    .desc-0, .desc-1, .desc-2, .desc-3 {
        font-size: 0.5em;
        padding: 0;
    }
    .video-1 {
        margin-left: 0em;
    }
    .faq h1{
        font-size: 1em;
    }
    .faq li {
        font-size: 0.6em;
    }
    .faq p {
        font-size: 0.8em;
    }
    .footer-cols li {
        font-size: 0.6em;
    }
    .created a {
        font-size: 0.8em;
    }
  }
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 480px) and (max-width: 767px) {
    
    .showcase-top img {
        width: 7.5em;
    }
    .showcase-top a {
        transform: translate(-20%, -50%);
    }
    .btn {
        font-size: 1.2em;
    }
    .showcase-content h1{
        font-size: 1.2em;
        width: 100%;
        margin: 0;
    }
    .showcase-content h3 {
        font-size: 1em;
        width: 90%;
    }
    .showcase-content {
        margin: 18em 0;
    }
    .showcase-content p {
        font-size: 0.8em;
        width: 70%;
    }
    .input {
        margin-left: 0.3em;
        margin-top: 1em;
    }
    .input input {
        width: 100%;
        height: 4em;
        font-size: 0.8em;
    }
    .input button {
        width: 100%;
        font-size: 0.7em;
        height: 4.5em;
        padding: 0;
    }
    .card-0, .card-1, .card-2, .card-3 {
        grid-gap: 4em;
    }
    .desc-0, .desc-1, .desc-2, .desc-3 {
        font-size: 0.7em;
        padding: 0;
    }
    .video-1 {
        margin-left: 0em;
    }
    .faq h1{
        font-size: 1.2em;
    }
    .faq li {
        font-size: 0.8em;
    }
    .faq p {
        font-size: 1em;
    }
    .footer-cols li {
        font-size: 0.8em;
    }
    .created a {
        font-size: 0.8em;
    }
  
  }