html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after ,*::before {
    box-sizing: inherit;
}
body {
    color: #485578;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #95B1F9;
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: -1rem;
    font-weight: 200;
    padding: 0 auto;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
.logo img {
    width: 5em;
    height: 6em;
    padding: 0;
    position: fixed;
    top: 1em;
    left: 0.5em;
}
.logo a{
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
    position: relative;
}
a:hover {
    text-decoration: underline;
}
h2 {
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 0.2rem;
    text-align: center;
    text-transform: capitalize;
}
ol {
    margin-top: 0.2rem;
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 0;
}
li{
    padding-bottom: 0;
}
blockquote {
    padding: 0 1rem;
}
cite {
    font-weight: bold;
}
.add {
    padding-bottom: 0.5rem;
}
.block {
    float: right;
    display: inline;
    margin-top: 0.1rem;
    padding-top: 0;
}
.block::after {
    content: "";
    display: table;
    clear: both;
}
.marge {
    margin-bottom: -0.2rem;
}
.flex {
    display: flex;
    justify-content: center;
}
.pad {
    padding-bottom: 5rem;
    margin-bottom: 1rem;
}
.below {
    padding: 0;
    border-radius: 50%;
    background-color: #2d55c4;
    position: fixed;
    width: 5em;
    right: 2em;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #612D4C;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 1s;
    color: white;
}
.below a:hover {
    text-decoration: none;
}
.below p {
    margin: 1em auto;
}
.below:hover {
    color: wheat;
    transform: scale(1.1);
    text-decoration: none;
}
.audio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #405278, #2d55c4, #225896);
    color: white;
}
.audio img {
    width: 40%;
    height: 30%;
    margin: 0 auto;
    transition: 1s;
}
.audio h2, .audio p {
    text-decoration: none;
    text-align: center;
    display: inline;
    margin: 0;
    transition: 1s;
    cursor: default;
}
.audio h2 {
    font-size: 3em;
    text-transform: uppercase;
}
.audio p {
    font-size: 1.2em;
}
.content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 0;
}
.song {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song audio {
    margin: 0 auto;
    transition: 1s;
}
.song audio:hover, .audio img:hover, .audio h2:hover, .audio p:hover {
    transform: scale(1.1);
}
/*created css code*/
.created {
    font-size: 1.5em;
    font-family: 'Comforter', cursive;
    margin-top: 6em;
    width: 30%;
    display: inline-block;
}
.created:hover {
    transform: scale(1.2);
    transition: 800ms;
    text-decoration: none;
}
.created a:hover {
    text-decoration: none;
}
/*created css code end*/







































































