:root{
    --primary_color_1:#A62121;
    --primary_color_2:#75B8BF;
    --primary_color_3:#251E1E;
    --primary_color_4:#C4AB7C;
    --padding_1:1rem;
    --padding_2:1.5rem;
    --padding_3:2rem;
    --btn_padding:0.7rem 2rem;
    --head__font:'Anek Malayalam'
}
p::selection {
    background-color:#A62121 ;
    color: white;
  }  
h2::selection {
    background-color:#A62121 ;
    color: white;
}  
span::selection {
    background-color:#A62121 ;
    color: black;
} 
div::selection {
    background-color:#A62121 ;
    color: white;
} 
h4::selection {
    background-color:#A62121 ;
    color: white;
} 
h3::selection {
    background-color:#A62121 ;
    color: white;
  }    
a::selection {
    background-color:#A62121 ;
    color: white;
}
button::selection {
    background-color:#A62121 ;
    color: black;
}
.cargo p::selection {
    background-color:white;
    color: black;
}
li::selection {
    background-color:#A62121 ;
    color: white;
  }     
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'comfortaa';
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
.top-gradient{
    width: 100%;
    height: .7rem;
    background: linear-gradient(90deg, rgba(166,33,33,1) 0%, rgba(0,0,0,1) 100%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: var(--padding_1); */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 1px 2px 5px black;
    gap: 1rem;

}
.navbar__logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 2em;
    font-family: 'Raleway';
}
.logo-text{
    font-family: 'Raleway';
}
.navbar__menu{
    display: inline-flex;
    gap: var(--padding_2);
    list-style: none;
    align-items: center;
    margin-right: 1em;
    padding-top:var(--padding_1) ;
}
.navbar__list{
    text-transform: capitalize;
    transition: 300ms ease-in-out;

}
.navbar__list:hover{
    color: var(--primary_color_1);
    
}
.navbar__link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.active{
    color: var(--primary_color_1);
}
.sidebar {
    height: 0;
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: nowrap;
    background-color: var(--primary_color_2);
    overflow-y: scroll;
    transition: 1s ease-out;
    box-shadow: 3px 3px 5px black;
  }
  
.sidebar a {
    padding: 0px 8px 8px 32px;
    /* border-bottom: 1px solid black; */
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    font-weight: 600;
    color: black;
    display: block;
    margin-top: 2rem;
    transition: 0.3s;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.sidebar::-webkit-scrollbar{
    display: none;
} 
.sidebar a:hover {
    color:var(--primary_color_1) ;
}
.openbtn{
    display: none;
    cursor: pointer;
    background-color:transparent;
    color: var(--primary_color_1);
    font-size:clamp(1.8rem, 6vw, 2.5rem);
    border: none;
}
.closebtn {
    font-size: 2.5em;
    position: absolute;
    top: 5px;
    border: none;
    color: var(--primary_color_1);
    padding: 10px 25px;
    background-color: transparent;
    right: 5px;
}
@media (max-width:900px) {
    .navbar{
        justify-content: space-between;
        padding: 0 1rem;
    }
    .navbar__menu{
        display: none;
    }
    .sidebar{
        display: hidden;
    }
    .openbtn{
        display: block;
    }
    
}
/* END OF NAVBAR DESIGN ////////////////////// */


/* BEGGINING OF ABOUT ///////////////////////// */
.about{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.918)), url('image/img-2\ -\ Copy.jpg');
    background-attachment: fixed;
    background-size: 100%;
}
.about__text{
    font-family: var(--head__font);
    font-size: clamp(2.5rem, 6vw, 3.5rem);
    font-weight: 600;
    text-align: center;
    color: var(--primary_color_2);
    text-transform: capitalize;
    padding: 3rem 1rem 5rem ;
}


/* END OF ABOUT SECTION ////////////////////////// */

/* BEGGINING OF OFFICE ////////////////////////// */
.office-box{
    max-width: 80rem;
    margin: -3rem auto 0 ;
    z-index: 4;
    padding-top: 2rem;
    background-color: white;
    border-top: 4px solid #A62121;
}
.office-margin{
    margin: 0 2rem;
}
.office{
    font-family: var(--head__font);
    text-align: center;
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    margin: 0rem 1rem 3rem ;
    line-height: 1.2;
    
}
.office span{
    color: var(--primary_color_1);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    position: relative;
}
.office span::after{
    content: '';
    width: 100%;
    height: 3.5px;
    bottom: 5px;
    left: 0;
    background-color: black;
    position: absolute;
}
@media (max-width:100px) {
    .office-box{
        margin: -3rem 1rem 0;
    }
    
}
@media (max-width:530px) {
    .office{
        margin-bottom: 0;
    }
    
}
/* END OF OFFICE ///////////////////////////// */

/* BEGGINING OF SERVICE SECTION ////////////////////////// */

.section-service{
    display: grid;
    grid-template-areas: 'box1 box2' 'box3 box4' 'box5 box6';
    /* grid-auto-rows: 1fr 1fr ; */
    grid-auto-columns: 1fr 1fr 1fr ;
    gap: 2rem;
    max-width: 80rem;
    padding:  1rem;
    margin: 0 auto 1rem;
}
.service-box1{
    grid-area: box1;
}
.service-box2{
    grid-area: box2;
}
.service-box3{
    grid-area: box3;
}
.service-box4{
    grid-area: box4;
}
.service-box5{
    grid-area: box5;
}
.service-box6{
    grid-area: box6;
}
.image-box{
    grid-area: cont1;
    width:17rem;
    height: auto;
}
.service__img{
    width: 100%;
    height: auto;
    display: block;
}
.service{
    display:grid;
    gap: 1rem;
    grid-template-areas: 'cont1 cont2';
    box-shadow:4px 4px 0 #251E1E; 
    border: 0.5px solid black;
}
.service__desc{
    grid-area: cont2;
    align-self: center;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.service__head{
    font-family: var(--head__font);
    font-size:clamp(1.1rem, 2.5vw, 1.4rem) ;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 1px;
}
.service__text{
    line-height: 1.4;
    font-size: clamp(.7rem, 2vw, .95rem);
}

@media (max-width:1220px) {
    .section-service{
        grid-template-areas: 'box1 box4' 'box2 box5' 'box3 box6';
    }
    .service{
        grid-template-areas: 'cont1' 'cont2';
    }
    .image-box{
        width: 100%;
    }
}
@media (max-width:900px) {
    .section-service{
        grid-template-areas: 'box1' 'box2' 'box3' 'box4' 'box5' 'box6';
    }
    .service{
        grid-template-areas: 'cont1 cont2';
    }

}
@media (max-width:530px) {
    
    .section-service{
        padding: 2rem;
    }
    .service{
        grid-template-areas: 'cont1' 'cont2';
    }
    
}

/* END OF SECTION-SERVICE //////////////////////////////// */



/* BEGGINING OF CARGO ////////////////////////// */
.cargo{
    background-color: #75B8BF;
    background-color: #A62121;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    /* position: sticky; */
    top: 4rem;
    max-width:78rem ;
    margin: 2rem auto ;

}
.cargo__text{
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    font-weight: 600;
    color: white;
}
.cargo__button{
    display: flex;
    gap: 2rem;
}
.cargo-btn{
    padding: var(--btn_padding);
    background-color: #251e1e9d;
    border: none;
    color: white;
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    font-weight: 600;
    transition: 400ms ease-in-out;
    text-transform: capitalize;
}
.cargo-btn:hover{
    box-shadow: 4px 4px 0 white;
    transform: translateX(-4px) translateY(-4px);
    background-color: var(--primary_color_3);
    
}
@media (max-width:900px) {
    .cargo{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        margin: 0 1rem;
    }
}
@media (max-width:500px) {
    .cargo__text{
        text-align: center;
    }
    .cargo__button{
        /* flex-direction: column; */
        gap: .6rem ;
        align-items:center ;
    }
}

/* BEGGINING OF NETWORK /////////////////////////////////// */

.network{
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto 2rem;
    gap: 1rem;
    padding: 1rem;
}
.network-image-box{
    width: 100%;
    height: auto;
    display: block;
}
.network__img{
    width: 100%;
    height: auto;
    box-shadow: 6px 6px 0 black;
}
.network__desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.network__head{
    font-family: var(--head__font);
    font-size:clamp(1.8rem, 5vw, 2.5rem);
}
.network__head span{
    font-family: inherit;
    font-size: inherit;
    color: #A62121;
}
.network__text{
    line-height: 1.6;
    font-size: clamp(.7rem, 2.5vw, 1rem);
}
/* END OF NETWORK /////////////////////////// */



/* BEGGINING OF FOOTER SECTION////////////////////////////////// */

.foot{
    /* padding: 4rem  2rem 2rem; */
    background-color: #75B8BF;

}
.footer{
    display: grid;
    padding: 4rem  2rem 2rem;
    /* display: flex; */
    justify-content: space-around;
    background-color:#75b8bf96;
    background-color: #75b8bf8e;
    background-color: #75B8BF;
    border-top: 2px solid #251E1E;
    gap: 2rem;
    grid-template-areas: 'box1 box2 box3';

}
.footer__box1{
    grid-area: box1;
}
.footer__box2{
    grid-area: box2;
}
.footer__box3{
    grid-area: box3;
}
.footer__head{
    max-width: 20ch;
    text-transform: uppercase;
    font-family: var(--head__font);
    font-size:clamp(1.3rem, 2.5vw, 1.8rem) ;
    border-right: 1px solid black;
    align-self: center;
    padding: 2rem 0;
}
.footer__head span{
    font-family: inherit;

    font-size: inherit;
    color: var(--primary_color_1);
}
.footer-info{
    display:flex ;
    flex-direction: column;
    gap: 2rem;
    
}
.footer-info__head{
    text-transform: uppercase;
    font-family: var(--head__font);
    font-weight: 600;
    font-size:clamp(1.1rem, 2vw, 1.4rem);
    color: #A62121;
    position: relative;
}
.footer__menu{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.footer-info__menu{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.footer-info__list{
    text-decoration: none;
    list-style: none;
}
.footer-info__link{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-weight: 600;
    font-size:clamp(0.7rem, 1.5vw, 0.9rem);
    transition: 100ms ease-in-out;
}
.footer-info__link:hover{
    color: #A62121;
    text-decoration: underline black;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-contact__head{
    text-transform: uppercase;
    font-family: var(--head__font);
    font-weight: 600;
    font-size:clamp(1.1rem, 2vw, 1.4rem);
    color: #A62121;
}
.footer-contact__menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-contact__text{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--head__font);
    font-variant: small-caps;
}
.footer-contact__info{
    font-size:clamp(0.7rem, 1.5vw, 0.9rem);
    font-weight: 600;
}
.footer-contact__icon{
    color: #A62121;
    margin-right: 7px;
}
.hr-2{
    margin: 1rem auto;
    max-width: 85%;
    border-color: 2px solid black;
    border: none;
    background-color: black;
    padding: .02rem;
}
.footer-copyright{
    display: flex;
    justify-content: space-around;
    padding: 0rem 2rem 1rem ;
}
.footer-copyright__text{
    text-transform: capitalize;
    font-size:clamp(.7rem, 2vw, .9rem);
    align-self: center ;

}
.footer-copyright__text span{
    font-weight: 600;
    text-transform: uppercase;
    font-size: inherit;
}
.footer-copyright__icon{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}
.footer__icon{
    font-size:clamp(0.8rem, 1vw, 1.2rem) ;
    color: var(--primary_color_1);
    background-color: #251E1E;
    padding: .5rem;
    flex: 1 1 3rem;
}
@media (max-width:900px) {
    .footer{
        padding-top: 1rem;
        grid-template-areas: 'box1 box1' 'box2 box3';
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: auto 1fr;
    }
    .footer__head{
        max-width: 60ch;
        border: none;
        border-bottom: 1px solid black;
    }
    .footer-info__menu2{
        display: none;
    }
}
@media (max-width:400px) {
    .footer{
        grid-template-areas: 'box1' 'box2' 'box3';
        padding-top: 1rem;
    }
    
}
/* PHEW, END OF PAGE ///////////////////////////////// */

/* BACK TO TOP BTN ///////////////////////////////*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 99;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: #a62121;
    color: white;
    cursor: pointer;
    padding: 1rem;
    transition: 200ms ease-in-out;
    /* box-shadow: 0px 0px 4px 1px #000000; */
}
  #myBtn:hover {
    background-color:#A62121 ;
    box-shadow: 0px 0px 4px 1px #00000091;
    transform: scale(1.01);
  }


  #google_translate_element select{
    background:var(--primary_color_1);
    color:#fff;
    border: none;
    margin: 0;
    padding:6px 8px;
}
    
    /*google translate link | logo */
      .goog-logo-link{
      display:none!important;
      }
    .goog-te-gadget{
    color:transparent!important;
    }
    
    /* google translate banner-frame */
    
    .goog-te-banner-frame{
    display:none !important;
    }
    
    #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
   .goog-text-highlight { background: none !important; box-shadow: none !important;}
    
    /* body{top:0!important;} */





  /* LOADER STARTS ///////////// */

#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999999999999999999;
    left: 0;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #A62121;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--primary_color_2);
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }






  #myBtn {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 99;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: #a62121;
    color: white;
    cursor: pointer;
    padding: 1rem;
    transition: 200ms ease-in-out;
}  
  #myBtn:hover {
    background-color:#A62121 ;
    box-shadow: 0px 0px 4px 1px #00000091;
    transform: scale(1.01);
  }